<!--{% block usuario %}
    {% endblock %}-->
{% extends 'templates/light/base.html' %} {% block content %}

<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Avisos</h4>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card-title planned_task">
            <div class="header">
              <h2></h2>
            </div>

            <div class="body">
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="todos"
                  role="tabpanel"
                  aria-labelledby="todos-tab"
                >
                  <h1 class="text-center">Avisos</h1>
                  <hr />

                  <div class="container-fluid">
                    <div class="row">
                      {% for datosAvisos in datosAvisos %}
                      <div class="col-lg-4 col-md-6">
                        <div class="card">
                          <div class="card-header">
                            <div class="row align-items-center">
                              <div class="col-8">
                                <h4 class="heading h6 mb-0">
                                  {{datosAvisos[1]}}
                                </h4>
                              </div>
                              <div class="col-4">
                                <div class="card-icon-actions text-right">
                                  <a
                                    href="#"
                                    class="favorite active"
                                    data-toggle="tooltip"
                                    data-original-title="Save to favorites"
                                    ><i class="fa fa-star"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text small">
                              {{datosAvisos[4] | safe}}
                            </p>
                          </div>
                          <div class="card-footer">
                            <div class="row align-items-center">
                              <div class="col-6">
                                <p>Fecha: {{datosAvisos[5]}}</p>
                              </div>
                              <div class="col-6 text-right">
                                <span class="text-muted small"
                                  >{{datosAvisos[9]}}</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
