{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <!-- Edit aviso -->
            <form action="" method="POST">
              <div id="editaraviso">
                <div class="modal-content">
                  <div class="modal-header">
                    <label for="fecha_inicio_aviso"
                      ><strong>Editar aviso</strong></label
                    >
                  </div>
                  <div class="modal-body">
                    <div class="row clearfix">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="nombre_aviso"
                            ><strong>Titulo del aviso:</strong></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="nombre_aviso"
                            id="nombre_aviso"
                            value="{{aviso[1]}}"
                            placeholder="Nombre del aviso"
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label><strong>Descripcion</strong> </label>
                          <textarea
                            class="form-control summernote"
                            rows="3"
                            cols="30"
                            name="descripcion"
                            id="descripcion"
                            placeholder="{{aviso[4]}}"
                          >
{{aviso[4]}}</textarea
                          >
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="submit"
                          name="editar_aviso"
                          class="btn btn-primary"
                        >
                          Actualizar
                        </button>
                        <a
                          href="javascript:history.go(-1)"
                          class="btn btn-secondary"
                          ><i class="fa fa-arrow-left"></i>
                          <span>Volver</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
