<nav class="navbar custom-navbar navbar-expand-lg py-2">
  <div class="container-fluid px-0">
    <a href="javascript:void(0);" class="menu_toggle"
      ><i class="fa fa-align-left"></i
    ></a>
    <a href="/inicio" class="navbar-brand"
      ><img
        src="{{ url_for('static', filename='images/logo_blanco_sin_slogan.svg') }}"
        alt="Logo Human Bionics"
      />
    </a>
    <div id="navbar_main">
      <ul class="navbar-nav mr-auto hidden-xs">
        <li class="nav-item page-header">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/inicio"
                ><i class="fa fa-home"></i>
                <strong>Intranet</strong>
              </a>
            </li>
            {% if request.path == url_for('inicio') %}
            <li class="breadcrumb-item active">Inicio</li>
            {% elif request.path == '/avisos' %}
            <li class="breadcrumb-item active">Avisos</li>
            {% elif request.path == '/cursos' %}
            <li class="breadcrumb-item active">Cursos</li>
            {% elif request.path == '/noticias' %}
            <li class="breadcrumb-item active">Noticias</li>
            {% elif request.path == url_for('calendario') %}
            <li class="breadcrumb-item active">Mi Calendario</li>
            {% elif request.path == '/proyectos' %}
            <li class="breadcrumb-item active">Mis Proyectos</li>
            {% elif request.path == '/verInventario' %}
            <li class="breadcrumb-item active">Mi Inventario</li>
            {% elif request.path == '/nomina_certificados' %}
            <li class="breadcrumb-item active">Nóminas y Certificados</li>
            {% elif request.path == '/myProfile' %}
            <li class="breadcrumb-item active">Mi Perfil</li>
            {% elif request.path == '/contactos' %}
            <li class="breadcrumb-item active">Contactos</li>
            {% elif request.path == '/empleados' %}
            <li class="breadcrumb-item active">Empleados</li>
            {% elif request.path == '/permisos' %}
            <li class="breadcrumb-item active">Permisos</li>
            {% elif request.path == '/vacaciones' %}
            <li class="breadcrumb-item active">Vacaciones</li>
            {% elif request.path == '/curso/crear' %}
            <li class="breadcrumb-item active">
              <a href="/cursos"> Cursos</a>
            </li>
            <li class="breadcrumb-item active">Crear curso</li>
            {% elif request.path == '/cursos/lista/editar' %}
            <li class="breadcrumb-item active">
              <a href="/cursos"> Cursos</a>
            </li>
            <li class="breadcrumb-item active">Lista de cursos</li>
            {% elif request.path == '/cursos/lista/eliminar' %}
            <li class="breadcrumb-item active">
              <a href="/cursos"> Cursos</a>
            </li>
            <li class="breadcrumb-item active">Eliminar cursos</li>
            {% elif request.path == '/noticias/crear' %}
            <li class="breadcrumb-item active">
              <a href="/noticias"> Noticias</a>
            </li>
            <li class="breadcrumb-item active">Crear Noticia</li>
            {% elif request.path == '/noticias/lista/editar' %}
            <li class="breadcrumb-item active">
              <a href="/noticias"> Noticias</a>
            </li>
            <li class="breadcrumb-item active">Lista de noticias</li>
            {% elif request.path == '/noticia/lista/eliminar' %}
            <li class="breadcrumb-item active">
              <a href="/noticias"> Noticias</a>
            </li>
            <li class="breadcrumb-item active">Eliminar noticias</li>

            {% elif request.path == '/aviso/crear' %}
            <li class="breadcrumb-item active">
              <a href="/avisos"> Avisos</a>
            </li>
            <li class="breadcrumb-item active">Crear Aviso</li>
            {% elif request.path == '/avisos/lista/editar' %}
            <li class="breadcrumb-item active">
              <a href="/avisos"> Avisos</a>
            </li>
            <li class="breadcrumb-item active">Lista de avisos</li>
            {% elif request.path == '/avisos/lista/eliminar' %}
            <li class="breadcrumb-item active">
              <a href="/avisos"> Avisos</a>
            </li>
            <li class="breadcrumb-item active">Eliminar noticias</li>

            {% elif request.path == '/proyectos/crear' %}
            <li class="breadcrumb-item active">
              <a href="/proyectos"> Proyectos</a>
            </li>
            <li class="breadcrumb-item active">Crear Proyecto</li>
            {% elif request.path == '/proyectos/lista/editar' %}
            <li class="breadcrumb-item active">
              <a href="/proyectos"> Proyectos</a>
            </li>
            <li class="breadcrumb-item active">Lista de proyectos</li>
            {% elif request.path == '/proyectos/lista/eliminar' %}
            <li class="breadcrumb-item active">
              <a href="/proyectos"> Proyectos</a>
            </li>
            <li class="breadcrumb-item active">Eliminar proyectos</li>

            {% endif %}
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          {% include 'templates/light/navbar/notificaciones.html' %}
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link nav-link-icon"
            href="javascript:void(0);"
            id="navbar_1_dropdown_3"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fa fa-user"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Menú de {{session['usuario']}}</h6>
            <a
              class="dropdown-item"
              href="/myProfile"
              href="javascript:void(0);"
              ><i class="fa fa-user text-primary"></i>Mi Perfil</a
            >
            <a class="dropdown-item" href="/configuration"
              ><i class="fa fa-cog text-primary"></i>Configuracion</a
            >
            <div class="dropdown-divider" role="presentation"></div>
            <a class="dropdown-item" href="/cerrar" href="javascript:void(0);"
              ><i class="fa fa-sign-out text-primary"></i>Cerrar Sesión</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
