<a
  class="nav-link nav-link-icon"
  href="javascript:void(0);"
  id="navbar_1_dropdown_2"
  role="button"
  data-toggle="dropdown"
  aria-haspopup="true"
  aria-expanded="false"
  ><i class="fa fa-bell"
    >{% if g.solicitudes_total_count !=0 %}<span
      class="badge badge-pill badge-primary text-uppercase float-right"
    >
      {{g.solicitudes_total_count}} {%endif%}</span
    >
  </i></a
>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-xl py-0">
  <div class="py-3 px-3">
    <h5 class="heading h6 mb-0">
      Notificaciones
      <span class="badge badge-pill badge-primary text-uppercase float-right"
        >{{g.solicitudes_total_count}}</span
      >
    </h5>
  </div>
  <div class="list-group" style="max-height: 400px; overflow-y: scroll">
    <form action="/routes/__init__.py" method="POST">
      {%for notificaciones in g.notificaciones%}
      <input type="hidden" value="{{notificaciones[1]}}" name="tipo_notificacion">
      <input type="hidden" value="{{notificaciones[3]}}" name="id_solicitud">
      <button
        class="list-group-item list-group-item-action d-flex"
        name="ver_notificacion_nomina"
        value="{{notificaciones[0]}}"
      >
        <div class="list-group-img">
          <img
            src="{{ url_for('static', filename='images/users/' + notificaciones[10]) }}"
            class="avatar avatar-lg mr-3"
          />
        </div>
        <div class="list-group-content">
          <div class="list-group-heading">
            {{notificaciones[8]}} {{notificaciones[9]}}
            <small>{{notificaciones[11]}}</small>
          </div>
          <p class="text-sm">{{notificaciones[5]}}</p>
        </div>
      </button>
      {%endfor%}
    </form>
    <div class="py-3 text-center">
      <a href="/notificaciones" class="link link-sm link--style-3"
        >Ver todas las Notificaciones</a
      >
    </div>
  </div>
</div>
