<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="ThemeMakker">
    <link rel="icon" href="{{ url_for('static', filename='images/isotipohb.svg') }}" type="image/x-icon">
    <title>:: Human Bionics ::</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
</head>

<body class="theme-indigo">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="{{ url_for('static', filename='images/isotipohb.svg') }}" width="48"
                    height="48" alt="ArrOw"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- WRAPPER -->
    <div id="wrapper">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-inner--icon"><i class="fa fa-times"></i></span>
            <span class="alert-inner--text"><strong>Error</strong> {{ message }}!</span>
            <button type="button" class="undo" aria-label="Undo">Cerrar</button>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %} {% if category == 'correcto' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
            <span class="alert-inner--text"><strong>Correcto!</strong> {{ message }}!</span>
            <button type="button" class="undo" aria-label="Undo">Cerrar</button>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">

                <div class="auth-box">

                    <div class="top">
                        <img src="{{ url_for('static', filename='images/isotipohb.svg') }}" alt="logoHB">
                        <strong>Human</strong> <span>Bionics</span>
                    </div>
                    <div class="card">
                        <div class="header">
                            <p class="lead">Iniciar sesion en su cuenta</p>
                        </div>
                        <div class="body">

                            <form class="form-auth-small" method="POST">
                                <div class="form-group">
                                    <label for="username" class="control-label sr-only">Usuario</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Usuario" required>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label sr-only">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Contraseña" required>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="fancy-checkbox element-left">
                                        <input type="checkbox" name="recuerdame">
                                        <span>Recuérdame</span>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">INICIAR SESIÓN</button>
                                <div class="bottom">
                                    <span>¿No tienes una cuenta? <a href="/register">Registrar</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->

    <!-- Core -->
    <script src="{{ url_for('static', filename='bundles/libscripts.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='bundles/vendorscripts.bundle.js') }}"></script>

    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>

</html>