{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">Inventario</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <div class="header">
              <h1>Solicitud de Inventario</h1>
            </div>
            <hr />
            <form action="" method="POST">
              <div class="body">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="cantidad_elemento"
                        ><strong>Cantidad:</strong></label
                      >
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        name="cantidad_elemento"
                        id="cantidad_elemento"
                        value=""
                        placeholder="Cantidad"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="motivo_elemento" class="form-label"
                        >Motivo:</label
                      >
                      <textarea
                        class="form-control"
                        name="motivo_elemento"
                        id="motivo_elemento"
                        rows="3"
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  name="solicitar_elemento"
                  class="btn btn-success"
                >
                  Solicitar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
