{% extends 'templates/light/base.html' %}
{% block content %}
<div class="main_content" id="main-content">

    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="javascript:void(0);">Inventario</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    {% if session["cargo"] == 1%}
                    <button data-toggle="modal" data-target="#myModal" type="button"
                        class="btn btn-primary ml-2  btn-animated btn-animated-y">
                        <span class="btn-inner--visible">Inventario</span>
                        <span class="btn-inner--hidden"><i class="fa fa-plus"></i></span>
                    </button>

                    <!--button data-toggle="modal" data-target="#verCursos" type="button"
                        class="btn btn-primary ml-2  btn-animated btn-animated-y">
                        <span class="btn-inner--visible">Opciones Cursos</span>
                        <span class="btn-inner--hidden"><i class="fa fa-cog"></i></span>
                    </button>
                    <button data-toggle="modal" data-target="#verNoticias" type="button"
                        class="btn btn-primary ml-2  btn-animated btn-animated-y">
                        <span class="btn-inner--visible">Opciones Noticias</span>
                        <span class="btn-inner--hidden"><i class="fa fa-cog"></i></span>
                    </button-->
                    {% endif %}
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card planned_task">
                        <div class="header">
                            <h2>Inventario</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-striped m-b-0">
                                    <thead>
                                        <tr>
                                            <th>Solicitud</th>
                                            <th data-breakpoints="xs">Fecha de inico</th>
                                            <th data-breakpoints="xs">Fecha fin</th>
                                            <th data-breakpoints="xs">Resuelve</th>
                                            <th data-breakpoints="xs">Fecha de Solicitud</th>
                                            <th data-breakpoints="xs">Fecha de Resolucion</th>
                                            <th>Estado de Solicitud</th>
                                            <th>Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for solicitudes_permisos2 in solicitudes_permisos2 %}
                                        {% if solicitudes_permisos2[11] == session['usuario']%}
                                        <tr>
                                            <td>Permiso</td>
                                            <td>{{solicitudes_permisos2[1]}}</td>
                                            <td>{{solicitudes_permisos2[2]}}</td>
                                            <td>{{solicitudes_permisos2[15]}} {{solicitudes_permisos2[16]}}</td>
                                            <td>{{solicitudes_permisos2[6]}}</td>
                                            <td>{{solicitudes_permisos2[7]}}</td>
                                            <td>{%
                                                if solicitudes_permisos2[8]=="Pendiente" %}<span
                                                    class="badge badge-lg badge-pill badge-warning text-uppercase">
                                                    Pendiente
                                                </span>{%endif%}
                                                {%
                                                if solicitudes_permisos2[8]=="Rechazado" %}<span
                                                    class="badge badge-lg badge-pill badge-danger text-uppercase">
                                                    Rechazado
                                                </span>{%endif%}
                                                {%
                                                if solicitudes_permisos2[8]=="Aceptado" %}<span
                                                    class="badge badge-lg badge-pill badge-success text-uppercase">
                                                    Aceptado
                                                </span>{%endif%}
                                            <td>{{solicitudes_permisos2[10]}}</td>

                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Opciones Inventario-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Seleccione su peticion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary btn-block btn-animated btn-animated-y">
                    <span class="btn-inner--visible">Herramientas</span>
                    <span class="btn-inner--hidden"><i class="fa fa-plus"></i></span>
                </button>
                <button type="button" class="btn btn-primary btn-block btn-animated btn-animated-y">
                    <span class="btn-inner--visible">Materiales</span>
                    <span class="btn-inner--hidden"><i class="fa fa-plus"></i></span>
                </button>

            </div>
        </div>
    </div>
</div>

{% endblock %}