{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Inventario</h4>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fa fa-times"></i></span>
        <span class="alert-inner--text"
          ><strong>Error</strong> {{ message }}!</span
        >
        <button type="button" class="undo" aria-label="Undo">Cerrar</button>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% if category == 'correcto' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
        <span class="alert-inner--text"
          ><strong>Correcto!</strong> {{ message }}!</span
        >
        <button type="button" class="undo" aria-label="Undo">Cerrar</button>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <div class="header">
              <h2></h2>
              <ul class="nav nav-tabs nav-tabs-new" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="pertenencia-tab"
                    data-toggle="tab"
                    href="#pertenencia"
                    role="tab"
                    aria-controls="pertenencia"
                    aria-selected="true"
                    >Inventario a cargo</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="inventario_pr-tab"
                    data-toggle="tab"
                    href="#inventario_pr"
                    role="tab"
                    aria-controls="inventario_pr"
                    aria-selected="false"
                    >Inventario Prestado</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="solicitus_prestamo-tab"
                    data-toggle="tab"
                    href="#solicitus_prestamo"
                    role="tab"
                    aria-controls="solicitus_prestamo"
                    aria-selected="false"
                    >Solicitar Prestamo</a
                  >
                </li>
              </ul>
            </div>

            <div class="body">
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="pertenencia"
                  role="tabpanel"
                  aria-labelledby="pertenencia-tab"
                >
                  <h1>Inventario a Cargo</h1>
                  <hr />
                  <div class="table-responsive">
                    <table
                      class="table table-bordered table-striped table-hover mb-0 c_table"
                    >
                      <thead>
                        <tr>
                          <th>Elemento</th>
                          <th>Cantidad</th>
                          <th>Descripcion</th>
                          <th>Observaciones</th>
                          <th>Fecha</th>
                          <th>Imagen</th>
                          <th>Accion</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for inventario_cargo in inventario_cargo %} {%if
                        inventario_cargo[1]== session['usuario'] %}
                        <tr>
                          <td>{{inventario_cargo[8]}}</td>
                          <td>{{inventario_cargo[3]}}</td>
                          <td>{{inventario_cargo[9]}}</td>
                          <td>{{inventario_cargo[5]}}</td>
                          <td>{{inventario_cargo[6]}}</td>
                          <td>
                            <a
                              href="/ver_archivo/inventario/{{inventario_cargo[13]}}"
                              target="_blank"
                              ><button
                                type="button"
                                class="btn btn-primary btn-sm btn-animated btn-animated-y"
                              >
                                <span class="btn-inner--visible"
                                  >Ver Imagen</span
                                >
                                <span class="btn-inner--hidden"
                                  ><i class="fa fa-eye"></i
                                ></span>
                              </button>
                            </a>
                          </td>
                          <td>
                            <a
                              href="/inventario/reportarInventario/{{inventario_cargo[2]}}"
                              ><button
                                type="button"
                                class="btn btn-primary btn-sm btn-animated btn-animated-y"
                              >
                                <span class="btn-inner--visible">Reportar</span>
                                <span class="btn-inner--hidden"
                                  ><i class="fa fa-eye"></i
                                ></span>
                              </button>
                            </a>
                          </td>
                        </tr>
                        {%endif%} {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="inventario_pr"
                  role="tabpanel"
                  aria-labelledby="inventario_pr-tab"
                >
                  <div>
                    <h1>Inventario Prestado</h1>
                  </div>
                  <hr />
                  <div class="table-responsive">
                    <table
                      class="table table-bordered table-striped table-hover mb-0 c_table"
                    >
                      <thead>
                        <tr>
                          <th>Elemento</th>
                          <th>Cantidad</th>
                          <th>Descripcion</th>
                          <th>Observaciones</th>
                          <th>Tipo de Elemento</th>
                          <th>Categoria</th>
                          <th>Imagen</th>
                          <th>Reportar</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for prestados in prestados %}
                        <tr>
                          <td>{{prestados[13]}}</td>
                          <td>{{prestados[3]}}</td>
                          <td>{{prestados[14]}}</td>
                          <td>{{prestados[11]}}</td>
                          <td>{{prestados[17]}}</td>
                          <td>{{prestados[19]}}</td>
                          <td>
                            <a
                              href="/ver_archivo/inventario/{{prestados[18]}}"
                              target="_blank"
                              ><button
                                type="button"
                                class="btn btn-primary btn-sm btn-animated btn-animated-y"
                              >
                                <span class="btn-inner--visible"
                                  >Ver Imagen</span
                                >
                                <span class="btn-inner--hidden"
                                  ><i class="fa fa-eye"></i
                                ></span>
                              </button>
                            </a>
                          </td>
                          <td>
                            <a
                              href="/inventario/reportarInventario/{{prestados[1]}}"
                              ><button
                                type="button"
                                class="btn btn-primary btn-sm btn-animated btn-animated-y"
                              >
                                <span class="btn-inner--visible">Reportar</span>
                                <span class="btn-inner--hidden"
                                  ><i class="fa fa-eye"></i
                                ></span>
                              </button>
                            </a>
                          </td>
                        </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="solicitus_prestamo"
                  role="tabpanel"
                  aria-labelledby="solicitus_prestamo-tab"
                >
                  <div>
                    <h1>Solicitar Prestamo</h1>
                  </div>
                  <hr />
                  <div class="table-responsive">
                    <table
                      class="table table-bordered table-striped table-hover js-basic-example dataTable"
                    >
                      <thead>
                        <tr>
                          <th>Elemento</th>
                          <th>Cantidad</th>
                          <th>Descripcion</th>
                          <th>Tipo de Elemento</th>
                          <th>Categoria</th>
                          <th>Imagen</th>
                          <th>Accion</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for inventario in inventario %}
                        <tr>
                          <td>{{inventario[1]}}</td>
                          <td>{{inventario[3]}}</td>
                          <td>{{inventario[2]}}</td>
                          <td>{{inventario[5]}}</td>
                          <td>{{inventario[7]}}</td>
                          <td>
                            <a
                              href="/ver_archivo/inventario/{{inventario[6]}}"
                              target="_blank"
                              ><button
                                type="button"
                                class="btn btn-primary btn-sm btn-animated btn-animated-y"
                              >
                                <span class="btn-inner--visible"
                                  >Ver Imagen</span
                                >
                                <span class="btn-inner--hidden"
                                  ><i class="fa fa-eye"></i
                                ></span>
                              </button>
                            </a>
                          </td>
                          <td>
                            <a
                              href="/inventario/solicitarElemento/{{inventario[0]}}"
                              ><button class="btn btn-primary btn-md">
                                <i class="fa fa-tag"></i></button
                            ></a>
                          </td>
                        </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
