{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Vacaciones</h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <button type="button" class="btn btn-primary ml-2 btn-animated btn-animated-y" data-toggle="modal"
          data-target="#programarVacaciones">
          <span class="btn-inner--visible">Programar Vacaciones</span>
          <span class="btn-inner--hidden"><i class="fa fa-plane"></i></span>
        </button>
        <button type="button" class="btn btn-danger ml-2 btn-animated btn-animated-y" data-toggle="modal"
          data-target="#cancelarProgramarVacaciones">
          <span class="btn-inner--visible">Cancelar Programacion</span>
          <span class="btn-inner--hidden"><i class="fa fa-times-circle"></i></span>
        </button>

      </div>
    </nav>
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fa fa-times"></i></span>
        <span class="alert-inner--text"><strong>Error</strong> {{ message }}!</span>
        <button type="button" class="undo" aria-label="Undo">Cerrar</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% if category == 'correcto' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
        <span class="alert-inner--text"><strong>Correcto!</strong> {{ message }}!</span>
        <button type="button" class="undo" aria-label="Undo">Cerrar</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}

      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <div class="header">
              <h2></h2>
              <ul class="nav nav-tabs nav-tabs-new" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="todos-tab" data-toggle="tab" href="#todos" role="tab"
                    aria-controls="todos" aria-selected="true">Todos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="vacaciones-tab" data-toggle="tab" href="#vacaciones" role="tab"
                    aria-controls="vacaciones" aria-selected="false">Vacaciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="vacaciones_ex-tab" data-toggle="tab" href="#vacaciones_ex" role="tab"
                    aria-controls="vacaciones_ex" aria-selected="false">Vacaciones Extemporáneas</a>
                </li>
              </ul>
            </div>

            <div class="body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="todos" role="tabpanel" aria-labelledby="todos-tab">

                  <hr />
                  <h1>Mis Vacaciones</h1>
                  <hr />
                  <!--TABLA DE VACACIONES DE USUARIO-->
                  <div class="body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover mb-0 c_table dataTable">
                        <thead>
                          <tr>
                            <th>Tipo de vacaciones</th>
                            <th data-breakpoints="xs">Inicio de vacaciones</th>
                            <th data-breakpoints="xs">Fin de vacaciones</th>
                            <th data-breakpoints="xs">Días Totales</th>
                            <th data-breakpoints="xs">Días Restantes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for solicitudes_vacaciones in
                          solicitudes_vacaciones %} {% if
                          solicitudes_vacaciones[4] == session["usuario"] %}

                          <tr>
                            <td>{{solicitudes_vacaciones[1]}}</td>
                            <td>{{solicitudes_vacaciones[7]}}</td>
                            <td>{{solicitudes_vacaciones[8]}}</td>

                            <td>{{solicitudes_vacaciones[5]}}</td>
                            <td>{{solicitudes_vacaciones[6]}}</td>
                          </tr>
                          {% endif %} {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <hr />
                  <!--TABLA DE EXTEMPORANEAS DE USUARIO-->
                  <h1>Mis Vacaciones Extemporáneas</h1>
                  <hr />
                  <div class="body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover mb-0 c_table dataTable">
                        <thead>
                          <tr>
                            <th>Inicio de Adelanto</th>
                            <th data-breakpoints="xs">Fin de adelanto</th>
                            <th data-breakpoints="xs">Días</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for solicitudes_va_extemporaneas in
                          solicitudes_va_extemporaneas %} {% if
                          solicitudes_va_extemporaneas[10] == session["usuario"]
                          %} {% if solicitudes_va_extemporaneas[8] == 'Aceptado'
                          %}
                          <tr>
                            <td>{{solicitudes_va_extemporaneas[11]}}</td>
                            <td>{{solicitudes_va_extemporaneas[12]}}</td>
                            <td>{{solicitudes_va_extemporaneas[4]}}</td>
                          </tr>
                          {% endif %} {% endif %} {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <hr />
                </div>
                <div class="tab-pane fade" id="vacaciones" role="tabpanel" aria-labelledby="vacaciones-tab">
                  <hr />
                  <h1>Mis Vacaciones</h1>
                  <hr />
                  <!--TABLA DE VACACIONES DE USUARIO-->
                  <div class="body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover mb-0 c_table dataTable">
                        <thead>
                          <tr>
                            <th>Tipo de vacaciones</th>
                            <th data-breakpoints="xs">Inicio de vacaciones</th>
                            <th data-breakpoints="xs">Fin de vacaciones</th>
                            <th data-breakpoints="xs">Días Totales</th>
                            <th data-breakpoints="xs">Días Restantes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for solicitudes_vacaciones in
                          solicitudes_vacaciones %} {% if
                          solicitudes_vacaciones[4] == session["usuario"] %}

                          <tr>
                            <td>{{solicitudes_vacaciones[1]}}</td>
                            <td>{{solicitudes_vacaciones[7]}}</td>
                            <td>{{solicitudes_vacaciones[8]}}</td>

                            <td>{{solicitudes_vacaciones[5]}}</td>
                            <td>{{solicitudes_vacaciones[6]}}</td>
                          </tr>
                          {% endif %} {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="vacaciones_ex" role="tabpanel" aria-labelledby="vacaciones_ex-tab">
                  <hr />
                  <h1>Mis Vacaciones Extemporáneas</h1>
                  <hr />
                  <div class="body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover mb-0 c_table dataTable">
                        <thead>
                          <tr>
                            <th>Inicio de Adelanto</th>
                            <th data-breakpoints="xs">Fin de adelanto</th>
                            <th data-breakpoints="xs">Días</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for solicitudes_va_extemporaneas in
                          solicitudes_va_extemporaneas %} {% if
                          solicitudes_va_extemporaneas[10] == session["usuario"]
                          %} {% if solicitudes_va_extemporaneas[8] == 'Aceptado'
                          %}
                          <tr>
                            <td>{{solicitudes_va_extemporaneas[11]}}</td>
                            <td>{{solicitudes_va_extemporaneas[12]}}</td>
                            <td>{{solicitudes_va_extemporaneas[4]}}</td>
                          </tr>
                          {% endif %} {% endif %} {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="programarVacaciones" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label><strong>Programar Vacaciones Extemporáneas</strong></label>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          <div class="row clearfix">
            <div class="col-12">
              <div class="form-group">
                <label for="fecha_inicio_extemporanea"><strong>Inicio:</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                  </div>
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose="true"
                    class="form-control" name="fecha_inicio_extemporanea" id="fecha_inicio_extemporanea" value=""
                    placeholder="Fecha de inicio de vacaciones Extemporaneas" />
                </div>
              </div>
              <div class="form-group">
                <label for="fecha_fin_extemporanea"><strong>Fin:</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                  </div>
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose="true"
                    class="form-control" name="fecha_fin_extemporanea" id="fecha_fin_extemporanea" value=""
                    placeholder="Fecha de fin de vacaciones Extemporaneas" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" name="programar_vacaciones" value="{{ usuarios_vacaciones[0] }}"
              class="btn btn-success">
              Programar
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelarProgramarVacaciones" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label><strong>Cancelar Programacion de Vacaciones Extemporáneas</strong></label>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          <div class="row clearfix">
            <div class="col-12">
              <div class="form-group">
                <label for="vacaciones_solicitadas"><strong>Vacaciones solicitadas</strong></label>
                <select class="selectpicker" name="vacaciones_ex_id" title="Selecciona una opcion"
                  data-live-search="true" data-live-search-placeholder="Buscar ...">
                  <option value="" selected disabled>
                    Selecciona un Usuario
                  </option>
                  {% for solicitudes_va_extemporaneas in
                  solicitudes_va_extemporaneas %} {% if
                  solicitudes_va_extemporaneas[10] == session['usuario'] and
                  (solicitudes_va_extemporaneas[8] == 'Aceptado' or
                  solicitudes_va_extemporaneas[8] == 'Pendiente') %}
                  <option value="{{ solicitudes_va_extemporaneas[0] }}">
                    <strong>Inicio:</strong> {{ solicitudes_va_extemporaneas[11]
                    }}
                    <strong>Fin: </strong> {{solicitudes_va_extemporaneas[12]}},
                    Días: {{solicitudes_va_extemporaneas[4]}}
                  </option>
                  {% endif %} {% endfor %}
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" name="cancelar_programar_vacaciones" class="btn btn-danger">
                Cancelar
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}