{% extends 'templates/light/base.html' %} {% block content %}
<!-- //TODO: Actualizar precio RRHH cuando se cambia la cantidad de colaboradores
//TODO: Hacer fetch de la cantidad de proyectos activos para poder hacer el cálculo de costos fijos y administrativos
//TODO: Arreglar las opciones de las listas que no se refrescan bien -->

<div class="main_content" id="main-content">
  <script>
    const datos_admin = {{datos_admin|tojson|safe}};
    const HORAS_EN_DIA = 8;
    const DIAS_EN_SEMANA = 5;
    const SEMANAS_EN_MES = 4
  </script>
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Calculadora de Proyectos</h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card-title planned_task">
            <div class="header">
              <h2></h2>
            </div>

            <div class="body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="todos" role="tabpanel" aria-labelledby="todos-tab">
                  <h1 class="text-center">Estimación de Costos</h1>
                  <hr />

                  <form action="" method="POST" e>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col">
                          <h3>Datos del proyecto</h2>
                            <div class="form-group">
                              <label>Nombre del proyecto</label>
                              <input name="nombre_proyecto" type="text" class="form-control"
                                placeholder="Ingrese el nombre del proyecto...">
                            </div>
                            <div class="form-group">
                              <label>Descripción del proyecto</label>
                              <input name="desc_proyecto" id="desc_proyecto" type="text" class="form-control"
                                placeholder="Ingrese el nombre del proyecto...">
                            </div>
                        </div>
                        <div class="col-md-4">
                          <h3>Duración del proyecto</h2>
                            <div class="form-group">
                              <label>Meses</label>
                              <input name="meses_proyecto" type="number" class="form-control" placeholder="0"
                                id="meses_proyecto">
                            </div>
                            <div class="form-group">
                              <label>Información de duración</label>
                              <div class="input-group">
                                <input name="duracion_proyecto" type="text" class="form-control" placeholder="0 días en total" id="duracion_proyecto" readonly>
                                <div class="input-group-append">
                                  <select class="selectpicker" id="duracion_proyecto_tipoTiempoPicker" name="duracion_proyecto_tipoTiempoPicker">
                                    <option value="d">Dias</option>
                                    <option value="s">Semanas</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <h3 class="mb-3">Departamentos involucrados</h3>
                      <div class="row ml-1">
                        <div class="col-md-">
                          <div class="input-group input-group-transparent d-flex">
                            <div class="mr-auto p-2 align-self-center">
                              <div class="input-group-prepend align-self-center mr-2">
                                <div class="custom-control custom-checkbox">
                                  <input name="dept_robElect_check" type="checkbox" class="custom-control-input" id="dept_robElect_check" />
                                  <label class="custom-control-label" for="dept_robElect_check">Robótica y Electrónica</label>
                                </div>
                              </div>
                            </div>
                            <div class="p-2">
                              <input name="dept_robElect_colab" type="number" class="form-control" placeholder="# de Colaboradores" id="dept_robElect_colab">
                            </div>
                          </div>
                          <hr>

                          <div class="input-group input-group-transparent d-flex">
                            <div class="mr-auto p-2 align-self-center">
                              <div class="input-group-prepend align-self-center mr-2">
                                <div class="custom-control custom-checkbox">
                                  <input name="dept_disPub_check" type="checkbox" class="custom-control-input" id="dept_disPub_check" />
                                  <label class="custom-control-label" for="dept_disPub_check">Diseño y Publicidad</label>
                                </div>
                              </div>
                            </div>
                            <div class="p-2">
                              <input name="dept_disPub_colab" type="number" class="form-control" placeholder="# de Colaboradores" id="dept_disPub_colab">
                            </div>
                          </div>
                          <hr>

                          <div class="input-group input-group-transparent d-flex">
                            <div class="mr-auto p-2 align-self-center">
                              <div class="input-group-prepend align-self-center mr-2">
                                <div class="custom-control custom-checkbox">
                                  <input name="dept_biomed_check" type="checkbox" class="custom-control-input" id="dept_biomed_check" />
                                  <label class="custom-control-label" for="dept_biomed_check">Biomédica</label>
                                </div>
                              </div>
                            </div>
                            <div class="p-2">
                              <input name="dept_biomed_colab" type="number" class="form-control" placeholder="# de Colaboradores" id="dept_biomed_colab">
                            </div>
                          </div>
                          <hr>

                          <div class="input-group input-group-transparent d-flex">
                            <div class="mr-auto p-2 align-self-center">
                              <div class="input-group-prepend align-self-center mr-2">
                                <div class="custom-control custom-checkbox">
                                  <input name="dept_indsProt_check" type="checkbox" class="custom-control-input" id="dept_indsProt_check" />
                                  <label class="custom-control-label" for="dept_indsProt_check">Industrial y Prototipado</label>
                                </div>
                              </div>
                            </div>
                            <div class="p-2">
                              <input name="dept_indsProt_colab" type="number" class="form-control" placeholder="# de Colaboradores" id="dept_indsProt_colab">
                            </div>
                          </div>
                          <hr>

                          <div class="input-group input-group-transparent d-flex">
                            <div class="mr-auto p-2 align-self-center">
                              <div class="input-group-prepend align-self-center mr-2">
                                <div class="custom-control custom-checkbox">
                                  <input name="dept_sisProg_check" type="checkbox" class="custom-control-input" id="dept_sisProg_check" />
                                  <label class="custom-control-label" for="dept_sisProg_check">Sistemas y Programación</label>
                                </div>
                              </div>
                            </div>
                            <div class="p-2">
                              <input name="dept_sisProg_colab" type="number" class="form-control" placeholder="# de Colaboradores" id="dept_sisProg_colab">
                            </div>
                          </div>
                          <hr>

                        </div>
                      </div>
                      <h3 class="mt-3">Fases del proyecto</h3>
                      <div class="body taskboard planned_task">
                        <div class="dd" data-plugin="nestable">
                          <ol class="dd-list bg-secondary" id="listaActividades">
                            <li class="dd-item card bg-secondary" data-id="1" id="actividadItem">
                              <div class="dd-handle d-flex justify-content-between align-items-center">
                                <i class="fa fa-arrows-v"></i>
                              </div>
                              <div class="dd-content p-15">
                                <div class="row">
                                  <div class="col-md-7">
                                    <div class="row mx-2 mb-2">
                                      <input name="actividad-1-nombre" type="text" class="form-control" placeholder="Nombre de la actividad" id="actividad-1-nombre">
                                    </div>
                                    <div id="detalles">
                                      <div class="row mt-2 d-flex align-items-center" id="actividad-1-detalle">
                                        <div class="col mx-2" id="actividad-1-departamentos">
                                          <div class="custom-control custom-checkbox">
                                            <input name="actividad-1-checkbox-departamento-tempDept" type="checkbox" class="custom-control-input" id="actividad-1-checkbox-departamento-tempDept" />
                                            <label class="custom-control-label" for="actividad-1-checkbox-departamento-tempDept">Departamento Prueba</label>
                                          </div>
                                        </div>
                                        <div class="col mx-2" id="actividad-1-tiempos">
                                          <div class="input-group">
                                            <input name="actividad-1-tiempo-departamento-deptTemp" type="text" class="form-control" placeholder="Duración de la actividad" id="actividad-1-tiempo-departamento-deptTemp">
                                            <div class="input-group-append">
                                              <select class="selectpicker" id="actividad-1-tipoTiempoPicker-deptTemp" name="actividad-1-tipoTiempoPicker-deptTemp">
                                                <option value="d">Dias</option>
                                                <option value="s">Semanas</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-3 d-flex flex-column">
                                    <div class="row p-2">
                                      <h4>Costo de la actividad:</h2>
                                    </div>
                                    <div class="row p-2">
                                      <h3 id="actividad-1-costo">$-</h3>
                                    </div>
                                  </div>
                                  <div class="col d-flex align-items-end flex-column">
                                    <div class="mt-auto p-2">
                                      <button type="button" class="btn btn-danger btn-icon-only" id="eliminarActividad">
                                        <span class="btn-inner--icon"><i class="fa fa-trash-o"></i></span>
                                      </button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </li>
                          </ol>
                        </div>
                      </div>
                      <button id="agregarActividad" type="button" class="btn btn-primary btn-block btn-animated btn-animated-y">
                        <span class="btn-inner--visible">Agregar Actividad</span>
                        <span class="btn-inner--hidden"><i class="fa fa-plus"></i></span>
                      </button>
                      <div class="progress-wrapper mt-4">
                        <h4 class="progress-label">Días inicialmente proyectados que se están usando</h4>
                        <h4 class="progress-percentage text-uppercase" id="progressbar-text">0%</h4>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="progressbar-bar"></div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="form-outline col-md-5">
                          <label for="costo_admin" class="form-label">Costos Administrativos con {{datos_admin.num_proyectos_activos - 1}} proyecto(s) activo(s)</label>
                          <input type="text" class="form-control" id="costo_admin" name="costo_admin" readonly>
                        </div>
                      </div>

                      <h3 class="mt-5" id="costo_RRHH">Costo RRHH: $-</h3>
                      <hr>
                      <h3 class="mt-5">Recursos Materiales</h3>
                      <div class="row">
                        <div class="form-outline col-md-5">
                          <label for="costo_matProt" class="form-label">Materiales de Prototipos + Insumos</label>
                          <input type="text" class="form-control" id="costo_matProt" name="costo_matProt" data-type="currency">
                        </div>
                        <div class="form-outline col-md-5">
                          <label for="costo_maqTerc" class="form-label">Maquila - Producción de Terceros</label>
                          <input type="text" class="form-control" id="costo_maqTerc" name="costo_maqTerc" data-type="currency">
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="form-outline col-md-5">
                          <label for="costo_fijo_infLoc" class="form-label">Infraestructura / Locativos</label>
                          <input type="text" class="form-control" id="costo_fijo_infLoc" name="costo_fijo_infLoc" readonly>
                        </div>
                        <div class="form-outline col-md-5">
                          <label for="costo_fijo_maq" class="form-label">Maquinaria</label>
                          <input type="text" class="form-control" id="costo_fijo_maq" name="costo_fijo_maq" readonly>
                        </div>
                      </div>
                      <h5 class="mt-2 mb-4" id="costo_mat">Costo Recursos Materiales: $-</h5>
                      <h3 class="mt-4">Recursos Tecnológicos</h3>
                      <div class="row mt-2">
                        <div class="form-outline col-md-5">
                          <label for="costo_softAd" class="form-label">Software Adicional</label>
                          <input type="text" class="form-control" id="costo_softAd" name="costo_softAd" data-type="currency">
                        </div>
                        <div class="form-outline col-md-5">
                          <label for="costo_maqAd" class="form-label">Equipo Tecnológico Adicional</label>
                          <input type="text" class="form-control" id="costo_maqAd" name="costo_maqAd" data-type="currency">
                        </div>
                      </div>
                      <h5 class="mt-2 mb-4" id="costo_tec">Costo Recursos Tecnológicos: $-</h5>
                      <hr>
                      <h3 class="mt-5">Resumen Final</h3>
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="costo_final" name="costo_final" readonly>
                          <label for="costo_final" class="form-label text-primary">Costo Total</label>
                        </div>
                        <div class="col-md-4 form-outline">
                          <input type="number" class="form-control" id="porcentaje_retorno" name="porcentaje_retorno">
                          <label for="porcentaje_retorno" class="form-label text-primary">Rentabilidad Esperada (%)</label>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="costo_cliente" name="costo_cliente" readonly>
                          <label for="costo_cliente" class="form-label text-primary">Costo para el Cliente</label>
                        </div>
                        <div class="col-md-4 form-outline">
                          <input type="text" class="form-control" id="dinero_retorno" name="dinero_retorno" readonly>
                          <label for="dinero_retorno" class="form-label text-success">Rentabilidad Esperada ($)</label>
                        </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="dias_totales_sinReserva" name="dias_totales_sinReserva" readonly>
                          <label for="dias_totales_sinReserva" class="form-label">Días Totales del Proyecto</label>
                        </div>
                        <div class="col-md-4 form-outline">
                          <input type="number" class="form-control" id="dias_totales_porcentaje" name="dias_totales_porcentaje">
                          <label for="dias_totales_porcentaje" class="form-label">Días de Reserva (%)</label>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="dias_totales_conReserva" name="dias_totales_conReserva" readonly>
                          <label for="dias_totales_conReserva" class="form-label">Días Totales del Proyecto + Reserva</label>
                        </div>
                        <div class="col-md-4 form-outline">
                          <input type="text" class="form-control" id="dias_totales_num" name="dias_totales_num" readonly>
                          <label for="dias_totales_num" class="form-label">Días de Reserva</label>
                        </div>
                      </div>

                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Registrar Proyecto</button>
                      </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const currencyInputs = document.querySelectorAll('input[data-type="currency"]');

  currencyInputs.forEach(input => {
      input.addEventListener('keyup', function() {
          formatCurrency(this);
      });
      
      input.addEventListener('blur', function() {
          formatCurrency(this, "blur");
      });
  });

  function formatNumber(n) {
    // format number 1000000 to 1,234,567
    return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".")
  }

  function formatCurrency(input, blur) {
    // appends $ to value, validates decimal side
    // and puts cursor back in right position.
    
    // get input value
    var input_val = input.value;
    
    // don't validate empty input
    if (input_val === "") { return; }
    
    // original length
    var original_len = input_val.length;

    // initial caret position 
    var caret_pos = input.selectionStart;
      
    // check for decimal
    if (input_val.indexOf(",") >= 0) {

      // get position of first decimal
      // this prevents multiple decimals from
      // being entered
      var decimal_pos = input_val.indexOf(",");

      // split number by decimal point
      var left_side = input_val.substring(0, decimal_pos);
      var right_side = input_val.substring(decimal_pos);

      // add commas to left side of number
      left_side = formatNumber(left_side);

      // validate right side
      right_side = formatNumber(right_side);
      
      // Limit decimal to only 2 digits
      right_side = right_side.substring(0, 2);

      // join number by .
      input_val = "$ " + left_side + "," + right_side;

    } else {
      // no decimal entered
      // add commas to number
      // remove all non-digits
      input_val = formatNumber(input_val);
      input_val = "$ " + input_val;
    }
    
    // send updated string to input
    input.value = input_val;

    // put caret back in the right position
    var updated_len = input_val.length;
    caret_pos = updated_len - original_len + caret_pos;
    input.setSelectionRange(caret_pos, caret_pos);
  }
</script>
<script>
  class DatosGenerales {
    constructor() {
      this._dias = 0;
      this._semanas = 0;
      this._meses = 0;

      this._infoDepartamentos = {
        robElectCheck: false,
        robElectColab: 0,
        robElectSal: datos_admin.salario_rob_elect,
        disPubCheck: false,
        disPubColab: 0,
        disPubSal: datos_admin.salario_dis_pub,
        biomedCheck: false,
        biomedColab: 0,
        biomedSal: datos_admin.salario_biomedica, 
        indsProtCheck: false,
        indsProtColab: 0,
        indsProtSal: datos_admin.salario_ind_prot, 
        sisProgCheck: false,
        sisProgColab: 0,
        sisProgSal: datos_admin.salario_sis_prog 
      };

      this._horasActividadesDicPrivado = {
        robElect: {},
        disPub: {},
        biomed: {},
        indsProt: {},
        sisProg: {}
      };
      this._costoActividadesDicPrivado = {
        robElect: {},
        disPub: {},
        biomed: {},
        indsProt: {},
        sisProg: {}
      };

      this._costoMaterialesPrototipos = 0;
      this._costoMaquilaTerceros = 0;
      this._costoSoftwareAd = 0;
      this._costoTecAd = 0;

      this._listeners = [];
    }
    get dias() { return this._dias}
    set dias(newValue) {
      this._dias = newValue;
      this._listeners.forEach(listener => listener(this._dias));
    }
    
    get semanas() { return this._semanas}
    set semanas(newValue) {
      this._semanas = newValue;
      this._listeners.forEach(listener => listener(this._semanas));
    }
    
    get infoDepartamentos() { return this._infoDepartamentos}
    set infoDepartamentos(newValue) {
      this._infoDepartamentos = newValue;
      this._listeners.forEach(listener => listener(this._infoDepartamentos));
    }

    get meses() { return this._meses}
    set meses(newValue) {
      this._meses = newValue;
      this._listeners.forEach(listener => listener(this._meses));
    }

    get diasTotales() { return this._meses * (SEMANAS_EN_MES * DIAS_EN_SEMANA) + this._semanas * DIAS_EN_SEMANA + this._dias; }
    get semanasTotales() { return this._meses * SEMANAS_EN_MES + this._semanas }
    
    get horasActividadesDic() { return this._horasActividadesDicPrivado}
    set horasActividadesDic(newValue) {
      this._horasActividadesDicPrivado = newValue;
      this._listeners.forEach(listener => listener(this._horasActividadesDicPrivado));
    }
    
    get costoActividadesDic() { return this._costoActividadesDicPrivado}
    set costoActividadesDic(newValue) {
      this._costoActividadesDicPrivado = newValue;
      this._listeners.forEach(listener => listener(this._costoActividadesDicPrivado));
    }
    
    get costoActividadesTotal() {
      let costoTotal = 0;
      for (const deptName in this._costoActividadesDicPrivado) {
        for (const actividad in this._costoActividadesDicPrivado[deptName]){
          costoTotal += this._costoActividadesDicPrivado[deptName][actividad];
        }
      }
      return costoTotal;
    }

    get costoMaterialesPrototipos() { return this._costoMaterialesPrototipos }
    set costoMaterialesPrototipos(newValue) {
      this._costoMaterialesPrototipos = newValue;
      this._listeners.forEach(listener => listener(this._costoMaterialesPrototipos));
    }

    get costoMaquilaTerceros() { return this._costoMaquilaTerceros }
    set costoMaquilaTerceros(newValue) {
      this._costoMaquilaTerceros = newValue;
      this._listeners.forEach(listener => listener(this._costoMaquilaTerceros));
    }

    get costoSoftwareAd() { return this._costoSoftwareAd }
    set costoSoftwareAd(newValue) {
      this._costoSoftwareAd = newValue;
      this._listeners.forEach(listener => listener(this._costoSoftwareAd));
    }

    get costoTecAd() { return this._costoTecAd }
    set costoTecAd(newValue) {
      this._costoTecAd = newValue;
      this._listeners.forEach(listener => listener(this._costoTecAd));
    }


    addListener(listener) {
      this._listeners.push(listener);
    }
    
  }
  const datGenerales = new DatosGenerales();

  //---------------------------------------------------------------

  const formatear_Dinero = (numero) => {
    const numeroConFormato = new Intl.NumberFormat(undefined, { 
      style: 'currency', 
      currency: 'COP',
      maximumFractionDigits: 0, 
      minimumFractionDigits: 0, 
    }).format(numero)
    return numeroConFormato;
  };

  const calcularCostoFuncion_NoFormato = (costoPorHora, numColaboradores, horasTotales) => {
    return costoPorHora * numColaboradores * horasTotales;
  };

  const conseguirColaboradores = (nombreDepartamento) => {
    switch (nombreDepartamento) {
      case 'robElect':
        return datGenerales.infoDepartamentos.robElectColab;
        break;
      case 'disPub':
        return datGenerales.infoDepartamentos.disPubColab;
        break;
      case 'biomed':
        return datGenerales.infoDepartamentos.biomedColab;
        break;
      case 'indsProt':
        return datGenerales.infoDepartamentos.indsProtColab;
        break;
      case 'sisProg':
        return datGenerales.infoDepartamentos.sisProgColab;
        break;
      default:
        return 0;
        break;
    }
  };

  const conseguirSalario = (nombreDepartamento) => {
    switch (nombreDepartamento) {
      case 'robElect':
        return datGenerales.infoDepartamentos.robElectSal;
        break;
      case 'disPub':
        return datGenerales.infoDepartamentos.disPubSal;
        break;
      case 'biomed':
        return datGenerales.infoDepartamentos.biomedSal;
        break;
      case 'indsProt':
        return datGenerales.infoDepartamentos.indsProtSal;
        break;
      case 'sisProg':
        return datGenerales.infoDepartamentos.sisProgSal;
        break;
      default:
        return 0;
        break;
    }
  };

  const recalcularCostos = (deptName) => {
    const copyCostoDic = datGenerales.costoActividadesDic;

    for (const property in copyCostoDic[deptName]) {
      copyCostoDic[deptName][property] = calcularCostoFuncion_NoFormato(conseguirSalario(deptName), conseguirColaboradores(deptName), datGenerales.horasActividadesDic[deptName][property]);
    }
    datGenerales.costoActividadesDic = copyCostoDic;  
  }

  // AQUI

  const robElectCheck = document.getElementById('dept_robElect_check');
  const robElectColab = document.getElementById('dept_robElect_colab');
  robElectCheck.addEventListener('change', (event) => {
    const copy = datGenerales.infoDepartamentos;
    copy.robElectCheck = event.currentTarget.checked;
    datGenerales.infoDepartamentos = copy;
  });
  robElectColab.addEventListener('input', () => {
    const copy = datGenerales.infoDepartamentos;
    copy.robElectColab = parseInt(robElectColab.value) || 0;
    datGenerales.infoDepartamentos = copy;
    recalcularCostos('robElect');
  });

  const disPubCheck = document.getElementById('dept_disPub_check');
  const disPubColab = document.getElementById('dept_disPub_colab');
  disPubCheck.addEventListener('change', (event) => {
    const copy = datGenerales.infoDepartamentos;
    copy.disPubCheck = event.currentTarget.checked;
    datGenerales.infoDepartamentos = copy;
  });
  disPubColab.addEventListener('input', () => {
    const copy = datGenerales.infoDepartamentos;
    copy.disPubColab = parseInt(disPubColab.value) || 0;
    datGenerales.infoDepartamentos = copy;
    recalcularCostos('disPub');
  });

  const biomedCheck = document.getElementById('dept_biomed_check');
  const biomedColab = document.getElementById('dept_biomed_colab');
  biomedCheck.addEventListener('change', (event) => {
    const copy = datGenerales.infoDepartamentos;
    copy.biomedCheck = event.currentTarget.checked;
    datGenerales.infoDepartamentos = copy;
  });
  biomedColab.addEventListener('input', () => {
    const copy = datGenerales.infoDepartamentos;
    copy.biomedColab = parseInt(biomedColab.value) || 0;
    datGenerales.infoDepartamentos = copy;
    recalcularCostos('biomed');
  });

  const indsProtCheck = document.getElementById('dept_indsProt_check');
  const indsProtColab = document.getElementById('dept_indsProt_colab');
  indsProtCheck.addEventListener('change', (event) => {
    const copy = datGenerales.infoDepartamentos;
    copy.indsProtCheck = event.currentTarget.checked;
    datGenerales.infoDepartamentos = copy;
  });
  indsProtColab.addEventListener('input', () => {
    const copy = datGenerales.infoDepartamentos;
    copy.indsProtColab = parseInt(indsProtColab.value) || 0;
    datGenerales.infoDepartamentos = copy;
    recalcularCostos('indsProt');
  });

  const sisProgCheck = document.getElementById('dept_sisProg_check');
  const sisProgColab = document.getElementById('dept_sisProg_colab');
  sisProgCheck.addEventListener('change', (event) => {
    const copy = datGenerales.infoDepartamentos;
    copy.sisProgCheck = event.currentTarget.checked;
    datGenerales.infoDepartamentos = copy;
  });
  sisProgColab.addEventListener('input', () => {
    const copy = datGenerales.infoDepartamentos;
    copy.sisProgColab = parseInt(sisProgColab.value) || 0;
    datGenerales.infoDepartamentos = copy;
    recalcularCostos('sisProg');
  });

  //---------------------------------------------------------------

  let diasTotales = 0;

  const mesesInput = document.getElementById('meses_proyecto');

  const duracionProyectoOutput = document.getElementById('duracion_proyecto');
  const duracionProyectosTipoOutput = document.getElementById('duracion_proyecto_tipoTiempoPicker');

  const msg = ' días totales'

  const displayDuracionProyecto = () => {
    switch(duracionProyectosTipoOutput.value) {
      case 'd':
        duracionProyectoOutput.value = `${datGenerales.diasTotales} dias en total`;
        break;
      case 's':
        duracionProyectoOutput.value = `${datGenerales.semanasTotales} semanas en total`;
        break;
      default:
        break;
    }
  };

  duracionProyectosTipoOutput.addEventListener('change', () => {
    displayDuracionProyecto();
  })

  datGenerales.addListener(newVal => {
    displayDuracionProyecto();  
  });

  mesesInput.addEventListener('input', () => {
    datGenerales.meses = parseInt(mesesInput.value) || 0;
  });

  const costoAdminLbl = document.getElementById('costo_admin');

  const calcularCostosAdministrativos = () => {
    return (datos_admin.costo_admin / datos_admin.num_proyectos_activos) * datGenerales.diasTotales * 8
  };

  const calcularCostoInf = () => {
    return (datGenerales.diasTotales * datos_admin.costo_loc) / datos_admin.num_proyectos_activos;
  }

  const calcularCostoMaq = () => {
    return (datGenerales.diasTotales * datos_admin.costo_maq) / datos_admin.num_proyectos_activos;    
  }

  datGenerales.addListener(newVal => {
    costoAdminLbl.value = formatear_Dinero(calcularCostosAdministrativos())
  });

  //---------------------------------------------------------------

  const diasUsadosPorcentaje = document.getElementById('progressbar-text');
  const diasUsadosBarra = document.getElementById('progressbar-bar');

  const actualizarBarraFunc = () => {
    let horasUsadasTotalesDic = {};
    let horasUsadasTotales = 0;
    for (const dept in datGenerales.horasActividadesDic){
      let tiempoMax = 0;
      for (const actividad in datGenerales.horasActividadesDic[dept]){
        if (actividad in horasUsadasTotalesDic){
          if(datGenerales.horasActividadesDic[dept][actividad] > horasUsadasTotalesDic[actividad]){
            horasUsadasTotalesDic[actividad] = datGenerales.horasActividadesDic[dept][actividad];
          }
        } else {
          horasUsadasTotalesDic[actividad] = datGenerales.horasActividadesDic[dept][actividad];
        }
      }
    }

    for (const actividad in horasUsadasTotalesDic) {
      horasUsadasTotales += horasUsadasTotalesDic[actividad];
    }

    const porcentaje = ((horasUsadasTotales / (datGenerales.diasTotales * HORAS_EN_DIA)) * 100).toFixed(2);
    diasUsadosPorcentaje.textContent = `${porcentaje}%`;
    diasUsadosBarra.ariaValueNow = porcentaje;
    diasUsadosBarra.style = `width: ${porcentaje}%`;
  };

  const costoRRHH = document.getElementById('costo_RRHH');
  const calcularCostoFuncion = (costoPorHora, numColaboradores, horasTotales) => {
    const value = costoPorHora * numColaboradores * horasTotales;
    const formatedValue = formatear_Dinero(value);
    
    return formatedValue
  };
  let numActividades = 0;
  const agregarActividadBtn = document.getElementById('agregarActividad');
  const listaActividades = document.getElementById('listaActividades');
  const actividadOriginal = document.getElementById('actividadItem');
  

  const actividadDetalle = document.getElementById('actividad-1-detalle');
  const actividadDetalleTemplate = actividadDetalle.cloneNode(true);
  actividadDetalle.remove();

  const actividadTemplate = actividadOriginal.cloneNode(true);
  actividadOriginal.remove();

  agregarActividadBtn.addEventListener('click', () => {
    const nuevaActividad = actividadTemplate.cloneNode(true);
    nuevaActividad.id = `actividad-${numActividades}`;
    nuevaActividad.name = `actividad-${numActividades}`;
    const actNombre = nuevaActividad.querySelector('#actividad-1-nombre');
    actNombre.id = `actividad-${numActividades}-nombre`;
    actNombre.name = `actividad-${numActividades}-nombre`;

    const eliminarActividades = (deptName, nombreActividad) => {
      for (const property in datGenerales.costoActividadesDic[deptName]) {
        if(property == nombreActividad){
          const copyCostoDic = datGenerales.costoActividadesDic;
          delete copyCostoDic[deptName][nombreActividad];
          datGenerales.costoActividadesDic = copyCostoDic;
        }
      };
      for (const property in datGenerales.horasActividadesDic[deptName]) {
        if(property == nombreActividad){
          const copyHorasDic = datGenerales.horasActividadesDic;
          delete copyHorasDic[deptName][nombreActividad];
          datGenerales.horasActividadesDic = copyHorasDic;
        }
      };
    };

    nuevaActividad.querySelector("#eliminarActividad").addEventListener('click', () => {
      const copyCostoActividades = datGenerales.costoActividadesDic;
      for(const dept in copyCostoActividades){
        for(const actividad in copyCostoActividades[dept]){
          if(actividad == nuevaActividad.name){
            delete copyCostoActividades[dept][actividad];
          }
        }
      }
      const copyHorasActividades = datGenerales.horasActividadesDic;
      for(const dept in copyHorasActividades){
        for(const actividad in copyHorasActividades[dept]){
          if(actividad == nuevaActividad.name){
            delete copyHorasActividades[dept][actividad];
          }
        }
      }
      datGenerales.costoActividadesDic = copyCostoActividades;
      datGenerales.horasActividadesDic = copyHorasActividades;
      nuevaActividad.remove();
    });

    const actividadDetallesContainer = nuevaActividad.querySelector('#detalles');

    const calcularTiempo = (tipoTiempo, valorTiempo) => {
      switch(tipoTiempo) {
        case 'd':
          return valorTiempo * HORAS_EN_DIA;
        case 's':
          return valorTiempo * DIAS_EN_SEMANA * HORAS_EN_DIA;
        default:
          return 0;
      }
    };

    const inicializarOpcionPorDepartamento = (nombreDepartamento, nombreDisplay) => {

      const nuevaOpcion = actividadDetalleTemplate.cloneNode(true);
      nuevaOpcion.id = `${nuevaActividad.name}-detalle-${nombreDepartamento}`;
      const checkBox = nuevaOpcion.querySelector('#actividad-1-checkbox-departamento-tempDept');
      checkBox.name = `${nuevaActividad.name}-checkbox-departamento-${nombreDepartamento}`;
      checkBox.id = `${nuevaActividad.name}-checkbox-departamento-${nombreDepartamento}`;
      const lbl = nuevaOpcion.querySelector('label');
      lbl.htmlFor = `${nuevaActividad.name}-checkbox-departamento-${nombreDepartamento}`;
      lbl.textContent = nombreDisplay

      const opcionTiempo = nuevaOpcion.querySelector('#actividad-1-tiempo-departamento-deptTemp');
      opcionTiempo.name = `${nuevaActividad.name}-tiempo-departamento-${nombreDepartamento}`;
      opcionTiempo.id = `${nuevaActividad.name}-tiempo-departamento-${nombreDepartamento}`;
      
      const opcionTipoTiempo = nuevaOpcion.querySelector('#actividad-1-tipoTiempoPicker-deptTemp');
      opcionTipoTiempo.name = `${nuevaActividad.name}-tiempo-tipoTiempoPicker-${nombreDepartamento}`;
      opcionTipoTiempo.id = `${nuevaActividad.name}-tiempo-tipoTiempoPicker-${nombreDepartamento}`;

      // Esto toca hacerlo porque a pesar de que se supone que appendChild es sincrónico
      // si se imprime el DOM, no se ve inmediatamente reflejado ese cambio
      // así que se agrega un selectpicker que no se puede inicializar a pesar de que apenas se agrega se llame el método de render.
      // Lo que hace esto es revisar por cambios en el DOM para inmediatamente refrescar los selectpickers.
      // Creo que es una mejor opcion a esperar x tiempo y luego refrescar, como sería con setTimeout.
      const observer = new MutationObserver((mutationList, observer) => {
        for (const mutationIndex in mutationList) {
          if (mutationList[mutationIndex].target == actividadDetallesContainer) {
            $('.selectpicker').selectpicker('render');
            observer.disconnect();
          }
        }
      });

      observer.observe(actividadDetallesContainer, { childList: true });

      actividadDetallesContainer.appendChild(nuevaOpcion);

      const administrarDatosCostosTiempos = () => {
        if(checkBox.checked) {
          const copyHorasDic = datGenerales.horasActividadesDic;
          const copyCostoDic = datGenerales.costoActividadesDic;

          copyHorasDic[nombreDepartamento][nuevaActividad.name] = calcularTiempo(opcionTipoTiempo.value, parseFloat(opcionTiempo.value) || 0);
          copyCostoDic[nombreDepartamento][nuevaActividad.name] = calcularCostoFuncion_NoFormato(conseguirSalario(nombreDepartamento), conseguirColaboradores(nombreDepartamento), copyHorasDic[nombreDepartamento][nuevaActividad.name]);

          datGenerales.horasActividadesDic = copyHorasDic;
          datGenerales.costoActividadesDic = copyCostoDic;
        } else {
          eliminarActividades(nombreDepartamento, nuevaActividad.name);
        }
      };

      checkBox.addEventListener('change', () => {
        administrarDatosCostosTiempos();
      });

      opcionTiempo.addEventListener('input', () => {
        administrarDatosCostosTiempos();
      });

      opcionTipoTiempo.addEventListener('change', () => {
        administrarDatosCostosTiempos();
      });

    };

    const verificarInicializacion = (propiedad, nombreDepartamento, nombreDisplay) => {
      if (datGenerales.infoDepartamentos[propiedad] && actividadDetallesContainer.querySelector(`#${nuevaActividad.name}-detalle-${nombreDepartamento}`) == null){
        inicializarOpcionPorDepartamento(nombreDepartamento, nombreDisplay);
        
      } else if(!datGenerales.infoDepartamentos[propiedad] && actividadDetallesContainer.querySelector(`#${nuevaActividad.name}-detalle-${nombreDepartamento}`) !== null) {
        document.getElementById(`${nuevaActividad.name}-detalle-${nombreDepartamento}`).remove();
        eliminarActividades(nombreDepartamento, nuevaActividad.name);
      }
    };

    const actualizarOpciones = () => {
      for (const property in datGenerales.infoDepartamentos) {
        switch (property) {
          case 'robElectCheck':
            verificarInicializacion(property, 'robElect', 'Robótica y Electrónica')
            break;          
          case 'disPubCheck':
            verificarInicializacion(property, 'disPub', 'Diseño y Publicidad');
            break;
          case 'biomedCheck':
            verificarInicializacion(property, 'biomed', 'Biomédica');
            break;
          case 'indsProtCheck':
            verificarInicializacion(property, 'indsProt', 'Industrial y Prototipado');
            break;
          case 'sisProgCheck':
            verificarInicializacion(property, 'sisProg', 'Sistemas y Programación');
            break;
          default:
            break;
        }
      }
    };

    actualizarOpciones();

    const costoActividadLbl = nuevaActividad.querySelector('#actividad-1-costo');
    costoActividadLbl.id = `${nuevaActividad.name}-costo`;
    costoActividadLbl.name = `${nuevaActividad.name}-costo`;
    
    const calcularCostoActividad = () => {
      let sumatoria = 0;
      for (const property in datGenerales.costoActividadesDic) {
        for (const actividad in datGenerales.costoActividadesDic[property]) {
          if (actividad == nuevaActividad.name) {
            sumatoria += datGenerales.costoActividadesDic[property][actividad];
          }
        }
      }
      return sumatoria;
    };

    datGenerales.addListener(newVal => {
      actualizarOpciones();
      costoActividadLbl.textContent = formatear_Dinero(calcularCostoActividad());
    });
    
    numActividades++;
    listaActividades.appendChild(nuevaActividad);                              
  });

  //---------------------------------------------------------------
  datGenerales.addListener(newVal => {
    actualizarBarraFunc();
    const costoTotalRRHH = datGenerales.costoActividadesTotal + calcularCostosAdministrativos();
    const costoFormateado = formatear_Dinero(costoTotalRRHH);
    costoRRHH.textContent = `Costo RRHH: ${costoFormateado}`;
  });

  //---------------------------------------------------------------

  let costoMatTotal = 0;
  let costoTecTotal = 0;

  const parseFormatedToFloat = (formatedNumber) => {
    const withoutDots = formatedNumber.replace(/[.]/g, "");
    const correctDecimals = withoutDots.replace(/[,]/g, '.');
    const deleteCurrencySymbol = correctDecimals.replace(/[$]/g, '');
    return (parseFloat(deleteCurrencySymbol.trim()) || 0);
  }

  const costoMatProtInput = document.getElementById('costo_matProt');
  const costMaqTercInput = document.getElementById('costo_maqTerc');
  const costoFijoInfLocInput = document.getElementById('costo_fijo_infLoc');
  const costoFijoMaqInput = document.getElementById('costo_fijo_maq');

  const costoMatTotalLbl = document.getElementById('costo_mat');

  const costoSoftAd = document.getElementById('costo_softAd');
  const costoMaqAd = document.getElementById('costo_maqAd');

  const costoTecTotalLbl = document.getElementById('costo_tec');

  costoMatProtInput.addEventListener('input', () => {
    datGenerales.costoMaterialesPrototipos = parseFormatedToFloat(costoMatProtInput.value);
  });

  costMaqTercInput.addEventListener('input', () => {
    datGenerales.costoMaquilaTerceros = parseFormatedToFloat(costMaqTercInput.value);
  });

  costoSoftAd.addEventListener('input', () => {
    datGenerales.costoSoftwareAd = parseFormatedToFloat(costoSoftAd.value);
  });
  costoMaqAd.addEventListener('input', () => {
    datGenerales.costoTecAd = parseFormatedToFloat(costoMaqAd.value);
  });
datos_admin.num_proyectos_activos
  const actualizarCostosFijos = () => {
    costoFijoInfLocInput.value = formatear_Dinero(calcularCostoInf());
    costoFijoMaqInput.value = formatear_Dinero(calcularCostoMaq());
  };

  datGenerales.addListener(newVal => {
    actualizarCostosFijos();
    const infLoc = formatear_Dinero(calcularCostoInf());
    const maq = formatear_Dinero(calcularCostoMaq());
    costoMatTotalLbl.textContent = `Costo Recursos Materiales: ${formatear_Dinero(datGenerales.costoMaterialesPrototipos + datGenerales.costoMaquilaTerceros + infLoc + maq)}`;
    costoTecTotalLbl.textContent = `Costo Recursos Tecnológicos: ${formatear_Dinero(datGenerales.costoSoftwareAd + datGenerales.costoTecAd)}`;
  });

  //---------------------------------------------------------------

  const costoFinalLbl = document.getElementById('costo_final');
  const porcentajeRetornoLbl = document.getElementById('porcentaje_retorno');
  const costoClienteLbl = document.getElementById('costo_cliente');
  const dineroRetornoLbl = document.getElementById('dinero_retorno');
  
  const diasTotalesSinReserva = document.getElementById('dias_totales_sinReserva');
  const diasTotalesPorcentaje = document.getElementById('dias_totales_porcentaje');
  const diasTotalesConReserva = document.getElementById('dias_totales_conReserva');
  const diasTotalesNum = document.getElementById('dias_totales_num');

  const actualizarDiasFinales = () => {
    const diasDeReserva = datGenerales.diasTotales * ((parseFloat(diasTotalesPorcentaje.value) || 0) /100 )
    diasTotalesSinReserva.value = datGenerales.diasTotales;
    diasTotalesConReserva.value = datGenerales.diasTotales + diasDeReserva;
    diasTotalesNum.value = diasDeReserva;
  };

  const actualizarCostosFinales = () => {
    const infLoc = calcularCostoInf();
    const maq = calcularCostoMaq();
    
    const costoTotal =
      datGenerales.costoActividadesTotal + calcularCostosAdministrativos()
      + datGenerales.costoMaterialesPrototipos + datGenerales.costoMaquilaTerceros
      + datGenerales.costoSoftwareAd + datGenerales.costoTecAd + infLoc + maq;

    const rentPor = parseFloat(porcentajeRetornoLbl.value) || 0;
    const retorno = costoTotal * (rentPor/100)

    costoFinalLbl.value = formatear_Dinero(costoTotal);
    
    costoClienteLbl.value = formatear_Dinero(costoTotal + retorno)
    dineroRetornoLbl.value = formatear_Dinero(retorno);
  };

  datGenerales.addListener(newVal => {
    actualizarCostosFinales();
    actualizarDiasFinales();
  });

  porcentajeRetornoLbl.addEventListener('input', () => {
    actualizarCostosFinales();
  });

  diasTotalesPorcentaje.addEventListener('input', () => {
    actualizarDiasFinales();
  });

  


</script>
{% endblock %}