{% extends 'templates/light/base.html' %} {% block content %}
<script>
    let costo_rrhh_ejecutado = 0;
    let costo_mat_ejecutado = 0;
    let mesActual = 0;
    const formatear_Dinero = (numero) => {
        const numeroConFormato = new Intl.NumberFormat(undefined, { 
        style: 'currency', 
        currency: 'COP',
        maximumFractionDigits: 0, 
        minimumFractionDigits: 0, 
        }).format(numero)
        return numeroConFormato;
    };
    function formatearFecha(date) {
        const newDate = new Date(date);
        const day = String(newDate.getDate()).padStart(2, '0');
        const month = String(newDate.getMonth() + 1).padStart(2, '0'); // Months are zero-based
        const year = newDate.getFullYear();
        return `${day}-${month}-${year}`;
    }
</script>
<div class="main_content" id="main-content">
    <div class="page">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="javascript:void(0);">
          <h4>Registro Costos - {{datosProyecto['nombre_proyecto']}}</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="d-flex flex-row-reverse mb-5">
            <button class="btn btn-danger" type="button" onclick="window.location.href='/eliminarProyecto/{{ datosProyecto['id_proyecto'] }}'">Eliminar Proyecto</button>
            <button class="btn btn-warning mr-4" type="button" onclick="window.location.href='/desactivarProyecto/{{ datosProyecto['id_proyecto'] }}'">Desactivar Proyecto</button>            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card tasks_report">
                    <div class="body">
                        <h5 class="text-center">Costo RRHH Estimado</h5>
                        <h5 class="text-center dinero">{{datosProyecto['costo_rrhh']}}</h5>
                        <div class="row justify-content-center my-3">
                            <input id="costo_rrhh_progress" type="text" type="text" class="knob" value="0" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#26dad2" readonly>
                        </div>
                        <h5 class="text-center">Costo RRHH Ejecutado</h5>
                        <h5 class="text-center" id="costo_rrhh_ejecutado">$ 123.456.789,00</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card tasks_report">
                    <div class="body">
                        <h5 class="text-center">Tiempo Estimado</h5>
                        <h5 class="text-center">{{(datosProyecto['proyecto_duracion'] + datosProyecto['proyecto_dias_extra'])/20}} Meses</h5>
                        <div class="row justify-content-center my-3">
                            <input id="tiempo_progress" type="text" class="knob" value="75" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#26dad2" readonly>
                        </div>
                        <h5 class="text-center">Tiempo Ejecutado</h5>
                        <h5 class="text-center" id="tiempo_ejecutado">3 Meses</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card tasks_report">
                    <div class="body">
                        <h6>Historial</h6>
                        <div style="display: block; height: 200px; overflow: auto;">
                            <table class="table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th class="bg-white" style="position:sticky;top:0px"># Mes</th>
                                        <th class="bg-white" style="position:sticky;top:0px">Dinero Invertido</th>
                                        <th class="bg-white" style="position:sticky;top:0px">F. de Registro</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla_costos_rrhh">
                                </tbody>
                            </table>
                        </div>
                        <!-- Boton para el Modal -->
                        <button id="modal_costos_rrhh" type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#modal_registrarCostoMensual_rrhh">Registrar costos de un mes</button>

                        <!-- Modal -->
                        <div class="modal modal-secondary fade" id="modal_registrarCostoMensual_rrhh" tabindex="-1" role="dialog" aria-labelledby="modal_registrarCostoMensual_rrhh" aria-hidden="true">
                            <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal_title_6">Registrar costos de un mes</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="py-3 text-center">
                                            <div class="row">
                                            <div class="col">
                                                <h3>RRHH</h3>
                                                <div class="form-outline">
                                                    <label for="dept_robElect_horasTotales" class="form-label">Robótica y Electrónica</label>
                                                    <input type="number" class="form-control" id="dept_robElect_horasTotales" name="dept_robElect_horasTotales" placeholder="# de horas invertidas">
                                                </div>
                                                <hr>
                                                
                                                <div class="form-outline">
                                                    <label for="dept_disPub_horasTotales" class="form-label">Diseño y Publicidad</label>
                                                    <input type="number" class="form-control" id="dept_disPub_horasTotales" name="dept_disPub_horasTotales" placeholder="# de horas invertidas">
                                                </div>
                                                <hr>

                                                <div class="form-outline">
                                                    <label for="dept_biomed_horasTotales" class="form-label">Biomédica</label>
                                                    <input type="number" class="form-control" id="dept_biomed_horasTotales" name="dept_biomed_horasTotales" placeholder="# de horas invertidas">
                                                </div>
                                                <hr>

                                                <div class="form-outline">
                                                    <label for="dept_indProt_horasTotales" class="form-label">Industrial y Prototipado</label>
                                                    <input type="number" class="form-control" id="dept_indProt_horasTotales" name="dept_indProt_horasTotales" placeholder="# de horas invertidas">
                                                </div>
                                                <hr>

                                                <div class="form-outline">
                                                    <label for="dept_sisProg_horasTotales" class="form-label">Sistemas y Programación</label>
                                                    <input type="number" class="form-control" id="dept_sisProg_horasTotales" name="dept_sisProg_horasTotales" placeholder="# de horas invertidas">
                                                </div>
                                                <hr>
                                                <div class="form-outline">
                                                    <label for="costoFijo_Admin" class="form-label">Costo Administración</label>
                                                    <input id="costoFijo_Admin" value="{{datosCostos_fijosUltimo['costo_admin_mensual']}}" type="text" class="form-control dinero" id="costoFijo_Admin dinero" name="costoFijo_Admin" readonly>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="enviar_costos_rrhh">Agregar Registro</button>
                                        <button disabled="true" style="display: none;" type="button" class="btn btn-primary" data-dismiss="modal" id="actualizar_costos_rrhh">Editar Registro</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-between">
            <div class="col-md-4">
                <div class="card tasks_report">
                    <div class="body">
                        <h6 class="text-center">Costo Recursos Materiales Estimados</h6>
                        <h5 class="text-center dinero">{{datosProyecto['proyeccion_mat_prot'] + datosProyecto['proyeccion_maq_terc'] + datosProyecto['proyeccion_soft'] + datosProyecto['proyeccion_tec'] + datosProyecto['costo_loc'] + datosProyecto['costo_maq']}}</h5>
                        <div class="row justify-content-center my-3">
                            <input id="costo_mat_progress" class="knob" value="66" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#26dad2" readonly>
                        </div>
                        <h6 class="text-center">Costo Recursos Materiales Ejecutado</h6>
                        <h5 class="text-center" id="costo_mat_ejecutado">$ 123.456.789,00</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card tasks_report">
                    <div class="body">
                        <h6>Historial</h6>
                        <div style="display: block; height: 200px; overflow: auto;">
                            <table class="table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th class="bg-white" style="position:sticky;top:0px"># Mes</th>
                                        <th class="bg-white" style="position:sticky;top:0px">Dinero Invertido</th>
                                        <th class="bg-white" style="position:sticky;top:0px">Fecha de Registro</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla_costos_mat">
                                </tbody>
                            </table>
                        </div>
                        <!-- Boton para el Modal -->
                        <button id="modal_costos_mat" type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#modal_registrarCostoMensual_mat">Registrar costos de un mes</button>

                        <div class="modal modal-secondary fade" id="modal_registrarCostoMensual_mat" tabindex="-1" role="dialog" aria-labelledby="modal_registrarCostoMensual_mat" aria-hidden="true">
                            <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal_title_6">Registrar costos de un mes</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="py-3 text-center">
                                            <div class="row">
                                            <div class="col">
                                                <h3>Recursos Materiales</h3>
                                                <div class="form-outline">
                                                    <label for="registrar_matProt" class="form-label">Materiales de Prototipos + Insumos</label>
                                                    <input data-type="currency" type="text" class="form-control" id="registrar_matProt" name="registrar_matProt" placeholder="Ingrese el costo a registrar...">
                                                </div>
                                                <hr>
                                                <div class="form-outline">
                                                    <label for="registrar_maqTerc" class="form-label">Maquila - Producción de Terceros</label>
                                                    <input data-type="currency" type="text" class="form-control" id="registrar_maqTerc" name="registrar_maqTerc" placeholder="Ingrese el costo a registrar...">
                                                </div>
                                                <hr>
                                                <div class="form-outline">
                                                    <label for="registrar_softAd" class="form-label">Software Adicional</label>
                                                    <input data-type="currency" type="text" class="form-control" id="registrar_softAd" name="registrar_softAd" placeholder="Ingrese el costo a registrar...">
                                                </div>
                                                <hr>
                                                <div class="form-outline">
                                                    <label for="registrar_tec" class="form-label">Equipo Tecnológico Adicional</label>
                                                    <input data-type="currency" type="text" class="form-control" id="registrar_tec" name="registrar_tec" placeholder="Ingrese el costo a registrar...">
                                                </div>
                                                <hr>
                                                <div class="form-outline">
                                                    <label for="costoFijo_Loc" class="form-label">Costo Locativo</label>
                                                    <input value="{{datosCostos_fijosUltimo['costo_locativo_mensual']}}" type="text" class="form-control dinero" id="costoFijo_Loc" name="costoFijo_Loc" readonly>
                                                </div>
                                                <div class="form-outline">
                                                    <label for="costoFijo_Maq" class="form-label">Costo Maquinaria</label>
                                                    <input value="{{datosCostos_fijosUltimo['costo_maquinaria_mensual']}}" type="text" class="form-control dinero" id="costoFijo_Maq" name="costoFijo_Maq" readonly>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="enviar_costos_mat">Agregar Registro</button>
                                        <button style="display: none;" disabled="true" type="button" class="btn btn-primary" data-dismiss="modal" id="actualizar_costos_mat">Editar Registro</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>Costo Total</h3>
                <div>
                    <input value="{{datosProyecto['proyeccion_mat_prot'] + datosProyecto['proyeccion_maq_terc'] + datosProyecto['proyeccion_soft'] + datosProyecto['proyeccion_tec'] + datosProyecto['costo_rrhh'] + datosProyecto['costo_loc'] + datosProyecto['costo_maq']}}" type="text" class="form-control dinero" name="costo_estimado" readonly>
                    <label for="costo_estimado" class="form-label">Costo Estimado</label>
                </div>
                <div>
                    <input type="text" class="form-control" id="costo_ejecutado" name="costo_ejecutado" readonly>
                    <label for="costo_ejecutado" class="form-label">Costo Ejecutado</label>
                </div>
            </div>
            <div class="col-md-5 my-auto ml-4">
                <h4>Presupuesto Total Ejecutado</h4>
                <div class="progress-wrapper">
                    <h4 class="progress-percentage text-uppercase" id="progressbar-text">0%</h4>
                    <div class="progress" style="height: 8px;">
                        <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="progressbar-bar"></div>
                    </div>
                </div>
            </div>

        </div>


      </div>
        
    </div>
</div>
<script>
    const currencyInputs = document.querySelectorAll('input[data-type="currency"]');
  
    currencyInputs.forEach(input => {
        input.addEventListener('keyup', function() {
            formatCurrency(this);
        });
        
        input.addEventListener('blur', function() {
            formatCurrency(this, "blur");
        });
    });
  
    function formatNumber(n) {
      // format number 1000000 to 1,234,567
      return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }
  
    function formatCurrency(input, blur) {
      // appends $ to value, validates decimal side
      // and puts cursor back in right position.
      
      // get input value
      var input_val = input.value;
      
      // don't validate empty input
      if (input_val === "") { return; }
      
      // original length
      var original_len = input_val.length;
  
      // initial caret position 
      var caret_pos = input.selectionStart;
        
      // check for decimal
      if (input_val.indexOf(",") >= 0) {
  
        // get position of first decimal
        // this prevents multiple decimals from
        // being entered
        var decimal_pos = input_val.indexOf(",");
  
        // split number by decimal point
        var left_side = input_val.substring(0, decimal_pos);
        var right_side = input_val.substring(decimal_pos);
  
        // add commas to left side of number
        left_side = formatNumber(left_side);
  
        // validate right side
        right_side = formatNumber(right_side);
        
        // Limit decimal to only 2 digits
        right_side = right_side.substring(0, 2);
  
        // join number by .
        input_val = "$ " + left_side + "," + right_side;
  
      } else {
        // no decimal entered
        // add commas to number
        // remove all non-digits
        input_val = formatNumber(input_val);
        input_val = "$ " + input_val;
      }
      
      // send updated string to input
      input.value = input_val;
  
      // put caret back in the right position
      var updated_len = input_val.length;
      caret_pos = updated_len - original_len + caret_pos;
      input.setSelectionRange(caret_pos, caret_pos);
    }
    const parseFormatedToFloat = (formatedNumber) => {
        const withoutDots = formatedNumber.replace(/[.]/g, "");
        const correctDecimals = withoutDots.replace(/[,]/g, '.');
        const deleteCurrencySymbol = correctDecimals.replace(/[$]/g, '');
        return (parseFloat(deleteCurrencySymbol.trim()) || 0);
    }
</script>
<script>
    let mesMax = 0;

    let selectedRowId = "";

    const openModal_btnRrhh = document.getElementById('modal_costos_rrhh');
    const costos_btnRrhh = document.getElementById('enviar_costos_rrhh');
    const costos_btnRrhh_edit = document.getElementById('actualizar_costos_rrhh');

    const openModal_btnMat = document.getElementById('modal_costos_mat');
    const costos_btnMat = document.getElementById('enviar_costos_mat');
    const costos_btnMat_edit = document.getElementById('actualizar_costos_mat');

    const costos_robElect = document.getElementById('dept_robElect_horasTotales');
    const costos_disPub = document.getElementById('dept_disPub_horasTotales');
    const costos_biomedica = document.getElementById('dept_biomed_horasTotales');
    const costos_indProt = document.getElementById('dept_indProt_horasTotales');
    const costos_sisProg = document.getElementById('dept_sisProg_horasTotales');

    const costos_matProt = document.getElementById('registrar_matProt');
    const costos_maqTerc = document.getElementById('registrar_maqTerc');
    const costos_softAd = document.getElementById('registrar_softAd');
    const costos_tec = document.getElementById('registrar_tec');

    const costoFijo_Admin = document.getElementById('costoFijo_Admin');
    const costoFijo_Loc = document.getElementById('costoFijo_Loc');
    const costoFijo_Maq = document.getElementById('costoFijo_Maq');

    const tabla_costos_rrhh = document.getElementById('tabla_costos_rrhh');
    const tabla_costos_mat = document.getElementById('tabla_costos_mat');

    const costo_ejecutadoLbl = document.getElementById('costo_ejecutado');
    const costo_ejecutadoPorcentaje = document.getElementById('progressbar-text');
    const costo_ejecutadoBarra = document.getElementById('progressbar-bar');

    const costos_rrhhModal = document.getElementById('modal_registrarCostoMensual_rrhh');
    const costos_matModal = document.getElementById('modal_registrarCostoMensual_mat');

    const calcularPorcentaje = (num1, num2) => {
        if(num1 > num2){
            return 100;
        } else {
            return ((num1 / num2) * 100).toFixed(2);
        }
    }

    const actualizarDatosFinales = () => {
        costo_ejecutadoLbl.value = formatear_Dinero(costo_mat_ejecutado + costo_rrhh_ejecutado);

        let porcentaje = calcularPorcentaje((costo_mat_ejecutado + costo_rrhh_ejecutado), {{datosProyecto['proyeccion_mat_prot'] + datosProyecto['proyeccion_maq_terc'] + datosProyecto['proyeccion_soft'] + datosProyecto['proyeccion_tec'] + datosProyecto['costo_rrhh'] + datosProyecto['costo_loc'] + datosProyecto['costo_maq']}});
        costo_ejecutadoPorcentaje.textContent = `${porcentaje}%`;
        costo_ejecutadoBarra.ariaValueNow = porcentaje;
        costo_ejecutadoBarra.style = `width: ${porcentaje}%`;
    }

    const actualizarTabla_rrhh = (filas) => {
        let sumatoria = 0;
        let mesIndex = 0;
        tabla_costos_rrhh.innerHTML='';
        filas.forEach(item => {
            mesIndex += 1;
            const costoActual =
                (item.horas_sistemas * item.salario_sis_prog) + (item.horas_biomedica * item.salario_biomedica)
                + (item.horas_robotica * item.salario_rob_elect) + (item.horas_industrial * item.salario_ind_prot)
                + (item.horas_diseno * item.salario_dis_pub) + (item.horas_admin * item.costo_administrativo);
            sumatoria += costoActual;
            const row = document.createElement('tr');
            row.role = "button";
            //row.innerHTML=`<td>${mesIndex}</td><td class="dinero">${formatear_Dinero(item[0])}</td><td>${formatearFecha(item[1])}</td>`
            row.innerHTML=`<td>${mesIndex}</td><td>${formatear_Dinero(costoActual)}</td><td>${formatearFecha(item.fecha_registro)}</td>`;
            row.style="cursor:pointer;";
            tabla_costos_rrhh.appendChild(row);
            row.addEventListener('click', () =>{
                fetch(`/registroCostos/rrhh/detalles/${item.id_costos_rrhh_proyectos}`)
                .then(response => response.json())
                .then(data => {
                    const data_rrhh = data.costosMensual_rrhh;
                    selectedRowId = item.id_costos_rrhh_proyectos;
                    $(costos_rrhhModal).modal("show");
                    costos_robElect.value = data_rrhh.horas_robotica;
                    costos_disPub.value = data_rrhh.horas_diseno;
                    costos_biomedica.value = data_rrhh.horas_biomedica;
                    costos_indProt.value = data_rrhh.horas_industrial;
                    costos_sisProg.value = data_rrhh.horas_sistemas;
                    costoFijo_Admin.value = formatear_Dinero(data_rrhh.horas_admin * data_rrhh.costo_administrativo);

                    costos_btnRrhh.style.display = "none";
                    costos_btnRrhh.disabled = true;

                    costos_btnRrhh_edit.style.display = "inline-block";
                    costos_btnRrhh_edit.disabled = false;
                });
            })
        });
        costo_rrhh_ejecutado = sumatoria;
        mesMax = mesIndex;

        const costo_rrhhLbl = document.getElementById('costo_rrhh_ejecutado');
        const costo_rrhhProgress = document.getElementById('costo_rrhh_progress');

        const tiempo_ejecutadoLbl = document.getElementById('tiempo_ejecutado');
        const tiempo_progress = document.getElementById('tiempo_progress');

        costo_rrhhLbl.textContent = formatear_Dinero(costo_rrhh_ejecutado);

        costo_rrhhProgress.value = calcularPorcentaje(costo_rrhh_ejecutado, {{datosProyecto['costo_rrhh']}});
        costo_rrhhProgress.dispatchEvent(new Event('change'));

        tiempo_ejecutadoLbl.textContent = `${mesMax} Meses`;

        tiempo_progress.value = calcularPorcentaje(mesMax, {{(datosProyecto['proyecto_duracion'] + datosProyecto['proyecto_dias_extra'])/20}})
        tiempo_progress.dispatchEvent(new Event('change'));

        actualizarDatosFinales();
    };

    const actualizarTabla_mat = (filas) => {
        let sumatoria = 0;
        let mesIndex = 0;
        tabla_costos_mat.innerHTML='';
        filas.forEach(item => {
            mesIndex += 1;
            const costoActual =
                (item.materiales_prototipos + item.maquila_terceros + item.software_adicional
                + item.tecnologia_adicional + item.c_loc + item.c_maq);
            sumatoria += costoActual;
            const row = document.createElement('tr');
            row.style="cursor:pointer;";
            row.innerHTML=`<td>${mesIndex}</td><td>${formatear_Dinero(costoActual)}</td><td>${formatearFecha(item.fecha_registro)}</td>`
            tabla_costos_mat.appendChild(row);
            row.addEventListener('click', () =>{
                fetch(`/registroCostos/mat/detalles/${item.id_costos_mat_proyectos}`)
                .then(response => response.json())
                .then(data => {
                    const data_mat = data.costosMensual_mat;
                    selectedRowId = item.id_costos_mat_proyectos;
                    console.log(data);
                    $(costos_matModal).modal("show");

                    costos_matProt.value = data_mat.materiales_prototipos;
                    costos_maqTerc.value = data_mat.maquila_terceros;
                    costos_softAd.value = data_mat.software_adicional;
                    costos_tec.value = data_mat.tecnologia_adicional;    
                    costoFijo_Loc.value = data_mat.costo_locativos;
                    costoFijo_Maq.value = data_mat.costo_maquinaria;

                    costos_btnMat.style.display = "none";
                    costos_btnMat.disabled = true;

                    costos_btnMat_edit.style.display = "inline-block";
                    costos_btnMat_edit.disabled = false;
                });
            })
        });
        costo_mat_ejecutado = sumatoria;

        const costo_matLbl = document.getElementById('costo_mat_ejecutado');
        const costo_matProgress = document.getElementById('costo_mat_progress');

        costo_matLbl.textContent = formatear_Dinero(costo_mat_ejecutado);

        costo_matProgress.value = calcularPorcentaje(costo_mat_ejecutado, {{datosProyecto['proyeccion_mat_prot'] + datosProyecto['proyeccion_maq_terc'] + datosProyecto['proyeccion_soft'] + datosProyecto['proyeccion_tec'] + datosProyecto['costo_loc'] + datosProyecto['costo_maq']}});
        costo_matProgress.dispatchEvent(new Event('change'));

        costo_ejecutadoLbl.value = formatear_Dinero(costo_mat_ejecutado + costo_rrhh_ejecutado);
        actualizarDatosFinales();
    };

    costos_btnRrhh.addEventListener('click', () => {
        const costosJson = {
            rrhh: {
                robElect: parseFloat(costos_robElect.value) || 0,
                disPub: parseFloat(costos_disPub.value) || 0,
                biomedica: parseFloat(costos_biomedica.value) || 0,
                indProt: parseFloat(costos_indProt.value) || 0,
                sisProg: parseFloat(costos_sisProg.value) || 0
            }
        }

        costos_robElect.value = "";
        costos_disPub.value = "";
        costos_biomedica.value = "";
        costos_indProt.value = "";
        costos_sisProg.value = "";

        fetch('/registroCostos/rrhh/{{datosProyecto['id_proyecto']}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(costosJson)
        })
        .then(response => response.json())
        .then(data => {
            return fetch('/registroCostos/rrhh/{{datosProyecto['id_proyecto']}}');
        })
        .then(response => response.json())
        .then(data => {
            actualizarTabla_rrhh(data.costos_rrhh);
        });
    });

    costos_btnRrhh_edit.addEventListener('click', () => {
        const costosJson = {
            rrhh: {
                robElect: parseFloat(costos_robElect.value) || 0,
                disPub: parseFloat(costos_disPub.value) || 0,
                biomedica: parseFloat(costos_biomedica.value) || 0,
                indProt: parseFloat(costos_indProt.value) || 0,
                sisProg: parseFloat(costos_sisProg.value) || 0
            }
        }

        costos_robElect.value = "";
        costos_disPub.value = "";
        costos_biomedica.value = "";
        costos_indProt.value = "";
        costos_sisProg.value = "";

        fetch(`/registroCostos/rrhh/detalles/${selectedRowId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(costosJson)
        })
        .then(response => response.json())
        .then(data => {
            return fetch('/registroCostos/rrhh/{{datosProyecto['id_proyecto']}}');
        })
        .then(response => response.json())
        .then(data => {
            actualizarTabla_rrhh(data.costos_rrhh);
        });
    })

    costos_btnMat.addEventListener('click', () => {
        const costosJson = {
            materiales: {
                matProt: parseFormatedToFloat(costos_matProt.value),
                maqTerc: parseFormatedToFloat(costos_maqTerc.value),
                softAd: parseFormatedToFloat(costos_softAd.value),
                tec: parseFormatedToFloat(costos_tec.value)
            }
        }
        costos_matProt.value = "";
        costos_maqTerc.value = "";
        costos_softAd.value = "";
        costos_tec.value = "";

        fetch('/registroCostos/mat/{{datosProyecto['id_proyecto']}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(costosJson)
        })
        .then(response => response.json())
        .then(data => {
            return fetch('/registroCostos/mat/{{datosProyecto['id_proyecto']}}');
        })
        .then(response => response.json())
        .then(data => {
            actualizarTabla_mat(data.costos_mat);
        });
    });
    costos_btnMat_edit.addEventListener('click', () => {
        const costosJson = {
            materiales: {
                matProt: parseFormatedToFloat(costos_matProt.value),
                maqTerc: parseFormatedToFloat(costos_maqTerc.value),
                softAd: parseFormatedToFloat(costos_softAd.value),
                tec: parseFormatedToFloat(costos_tec.value)
            }
        }
        costos_matProt.value = "";
        costos_maqTerc.value = "";
        costos_softAd.value = "";
        costos_tec.value = "";

        fetch(`/registroCostos/mat/detalles/${selectedRowId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(costosJson)
        })
        .then(response => response.json())
        .then(data => {
            return fetch('/registroCostos/mat/{{datosProyecto['id_proyecto']}}');
        })
        .then(response => response.json())
        .then(data => {
            actualizarTabla_mat(data.costos_mat);
        });
    });

    openModal_btnRrhh.addEventListener('click', () => {
        costos_robElect.value = "";
        costos_disPub.value = "";
        costos_biomedica.value = "";
        costos_indProt.value = "";
        costos_sisProg.value = "";
        costoFijo_Admin.value = formatear_Dinero({{datosCostos_fijosUltimo['costo_admin_mensual']}});

        costos_btnRrhh.style.display = "inline-block";
        costos_btnRrhh.disabled = false;

        costos_btnRrhh_edit.style.display = "none";
        costos_btnRrhh_edit.disabled = true;
    })
    openModal_btnMat.addEventListener('click', () => {
        costos_matProt.value = "";
        costos_maqTerc.value = "";
        costos_softAd.value = "";
        costos_tec.value = "";
        costoFijo_Loc.value = formatear_Dinero({{datosCostos_fijosUltimo['costo_locativo_mensual']}});
        costoFijo_Maq.value = formatear_Dinero({{datosCostos_fijosUltimo['costo_maquinaria_mensual']}});

        costos_btnMat.style.display = "inline-block";
        costos_btnMat.disabled = false;

        costos_btnMat_edit.style.display = "none";
        costos_btnMat_edit.disabled = true;
    })
</script>
<script>
    fetch('/registroCostos/rrhh/{{datosProyecto['id_proyecto']}}')
    .then(response => response.json())
    .then(data => {
        actualizarTabla_rrhh(data.costos_rrhh);
    });
    fetch('/registroCostos/mat/{{datosProyecto['id_proyecto']}}')
    .then(response => response.json())
    .then(data => {
        actualizarTabla_mat(data.costos_mat);
    });

    document.addEventListener('DOMContentLoaded', () => {
        const dineroDisplayList = document.querySelectorAll('.dinero');
        dineroDisplayList.forEach(element => {
            element.textContent = formatear_Dinero(parseFloat(element.textContent));
            element.value = formatear_Dinero(parseFloat(element.value));
        });
    });
</script>

{% endblock %}