{% extends 'templates/light/base.html' %} {% block content %}

<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Recursos Humanos / Lista de Empleados</h4>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <a href="/registrarEmpleados"
          ><button class="btn btn-primary">Añadir Usuario</button></a
        >
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="table-responsive">
            <table class="table table-hover table-cards align-items-center">
              <thead>
                <tr>
                  <th scope="col">Usuario</th>
                  <th scope="col">Celular</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                {% for datosUsuario in datosUsuarios %}
                <tr class="bg-white">
                  <th scope="row">
                    <div class="media align-items-center">
                      <img
                        src="{{ url_for('static', filename='images/users/' + datosUsuario[4]) }}"
                        class="avatar avatar-lg mr-3"
                      />
                      <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">
                          {{datosUsuario[0]}} {{datosUsuario[1]}}
                        </h6>
                        <span class="font-weight-normal text-muted"
                          >{{datosUsuario[5]}}</span
                        >
                      </div>
                    </div>
                  </th>
                  <td>+57 {{datosUsuario[3]}}</td>
                  <td>
                    <span class="email"
                      ><a
                        href="/enviar_correo/{{datosUsuario[2]}}@humanbionics.com.co"
                        title=""
                        >{{datosUsuario[2]}}@humanbionics.com.co</a
                      ></span
                    >
                  </td>
                  <td>
                    <div class="btn-group">
                      <a href="/verEmpleado/{{ datosUsuario[6] }}"
                        ><button class="btn btn-primary btn-sm">
                          <i class="fa fa-eye"></i></button
                      ></a>
                      <a href="/editEmpleados/{{ datosUsuario[6] }}"
                        ><button class="btn btn-primary btn-sm">
                          <i class="fa fa-edit"></i></button
                      ></a>

                      <form
                        action="{{ url_for('eliminarUsuario', usuario=datosUsuario[6]) }}"
                        method="POST"
                        onsubmit="return confirm('¿Está seguro que desea eliminar al usuario {{datosUsuario[2]}}?')"
                        class="d-inline"
                      >
                        <button type="submit" class="btn btn-danger btn-sm">
                          <i class="fa fa-trash"></i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
                <tr class="table-divider"></tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
