{% extends 'templates/light/base.html' %}
{% block content %}

<div class="main_content" id="main-content">

    <div class="page">
        <div class="container">
            <h1 class="text-center">Información de Usuarios</h1>
            <div class="circle-image">
                <img src="{{ url_for('static', filename='images/users/' + datosUsuarios[23]) }}" alt="Imagen de perfil">
            </div>
            <br>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-6 col-12">

                                        <div class="form-group">
                                            <label for="foto"><strong>Foto:</strong></label>
                                            <div>
                                                <input type="file" name="foto" id="foto" class="custom-input-file" accept=".jpg, .jpeg, .png"/>
                                                <label for="foto">
                                                    <i class="fa fa-upload"></i>
                                                    <span>Selecciona una foto…</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Nombre"><strong>Primer nombre:</strong></label>
                                            <input type="text" class="form-control" name="Nombre" id="Nombre"
                                                value="{{datosUsuarios[1] }}" placeholder="Primer Nombre">
                                        </div>

                                        <div class="form-group">
                                            <label for="segundo_nombre"><strong>Segundo nombre:</strong></label>
                                            <input type="text" class="form-control" name="segundo_nombre"
                                                id="segundo_nombre" value="{{datosUsuarios[2] }}"
                                                placeholder="Segundo Nombre">
                                        </div>

                                        <div class="form-group">
                                            <label for="Apellido"><strong>Primer apellido:</strong></label>
                                            <input type="text" class="form-control" name="Apellido" id="Apellido"
                                                value="{{datosUsuarios[3] }}" placeholder="Primer Apellido">
                                        </div>

                                        <div class="form-group">
                                            <label for="segundo_apellido"><strong>Segundo Apellido:</strong></label>
                                            <input type="text" class="form-control" name="segundo_apellido"
                                                id="segundo_apellido" value="{{datosUsuarios[4] }}"
                                                placeholder="Segundo Apellido">
                                        </div>
                                        <h6><strong>Genero:</strong></h6>
                                        <div>
                                            <label class="fancy-radio">
                                                <input name="genero" id="genero" value="Masculino" type="radio" checked>
                                                <span><i></i>Masculino</span>
                                            </label>
                                            <label class="fancy-radio">
                                                <input name="genero" id="genero" value="Femenino" type="radio">
                                                <span><i></i>Femenino</span>
                                            </label>
                                        </div>
                                        <label for="Fecha_nacimiento"><strong>Fecha de Nacimiento:</strong></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                                            </div>
                                            <input data-provide="datepicker" data-date-format="yyyy-mm-dd"
                                                data-date-autoclose="true" class="form-control" name="Fecha_nacimiento"
                                                id="Fecha_nacimiento" value="{{datosUsuarios[6] }}"
                                                placeholder="Fecha Nacimiento">
                                        </div>
                                    
                                        <h6></h6>
                                        <div class="form-group">
                                            <label for="correo"><strong>Correo:</strong></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="correo" id="correo"
                                                    placeholder="Correo" value="{{datosUsuarios[7] }}"
                                                    aria-label="Enter your email" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"
                                                        id="correo">@humanbionics.com.co</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="identificacion"><strong>Identificación:</strong></label>
                                            <input type="text" class="form-control" name="identificacion"
                                                id="identificacion" value="{{datosUsuarios[8] }}"
                                                placeholder="Identificación">
                                        </div>

                                        <div class="form-group">
                                            <label for="direccion"><strong>Direccion:</strong></label>
                                            <input type="text" class="form-control" name="direccion" id="direccion"
                                                value="{{datosUsuarios[9] }}" placeholder="Direccion">
                                        </div>

                                        <div class="form-group">
                                            <label for="barrio"><strong>Barrio:</strong></label>
                                            <input type="text" class="form-control" name="barrio" id="barrio"
                                                value="{{datosUsuarios[10] }}" placeholder="Barrio">
                                        </div>

                                        <div class="form-group">
                                            <label for="ciudad"><strong>Ciudad:</strong></label>
                                            <input type="text" class="form-control" name="ciudad" id="ciudad"
                                                value="{{datosUsuarios[11] }}" placeholder="Ciudad">
                                        </div>

                                        <div class="form-group">
                                            <label for="departamento"><strong>Departamento:</strong></label>
                                            <input type="text" class="form-control" name="departamento"
                                                id="departamento" value="{{datosUsuarios[12] }}"
                                                placeholder="Departamento">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="pais"><strong>País:</strong></label>
                                            <input type="text" class="form-control" name="pais" id="pais"
                                                value="{{datosUsuarios[13] }}" placeholder="Pais">
                                        </div>

                                        <div class="form-group">
                                            <label for="telefono"><strong>Teléfono:</strong></label>
                                            <input type="text" class="form-control" name="telefono" id="telefono"
                                                value="{{datosUsuarios[14] }}" placeholder="Telefono">
                                        </div>

                                        <div class="form-group">
                                            <label for="celular"><strong>Celular:</strong></label>
                                            <input type="text" class="form-control" name="celular" id="celular"
                                                value="{{datosUsuarios[15] }}" placeholder="Celular">
                                        </div>

                                        <div class="form-group">
                                            <label for="entidad_salud"><strong>Entidad de salud EPS:</strong></label>
                                            <input type="text" class="form-control" name="entidad_salud"
                                                id="entidad_salud" placeholder="Entidad de salud"
                                                value="{{datosUsuarios[21] }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="lugar_pension"><strong>Administradora de pensión:</strong></label>
                                            <input type="text" class="form-control" name="lugar_pension"
                                                id="lugar_pension" placeholder="Lugar de pension"
                                                value="{{datosUsuarios[21] }}" >
                                        </div>
                                        <div class="form-group">
                                            <label for="arl"><strong>ARL:</strong></label>
                                            <input type="text" class="form-control" name="arl"
                                                id="arl" placeholder="ARL"
                                                value="{{datosUsuarios[37] }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="caja_compensacion"><strong>Caja de compensación:</strong></label>
                                            <input type="text" class="form-control" name="caja_compensacion"
                                                id="caja_compensacion" placeholder="Caja de compensación"
                                                value="{{datosUsuarios[38] }}" >
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="tipo_sangre"><strong>Tipo de sangre:</strong></label>
                                            <select class="form-control" name="tipo_sangre" id="tipo_sangre"
                                                value="{{datosUsuarios[22] }}">
                                                <option value="">-- Seleccione su tipo de sangre --</option>
                                                <option value="A+">A+</option>
                                                <option value="A-">A-</option>
                                                <option value="B+">B+</option>
                                                <option value="B-">B-</option>
                                                <option value="AB+">AB+</option>
                                                <option value="AB-">AB-</option>
                                                <option value="O+">O+</option>
                                                <option value="O-">O-</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="profesion"><strong>Profesion:</strong></label>
                                            <select class="form-control" name="profesion" id="profesion"
                                                value="{{datosUsuarios[17] }}">
                                                <option value="">-- Seleccione la Profesion --</option>
                                                <option value="Ingenieria de Sistemas">Ingenieria de Sistemas</option>
                                                <option value="Ingenieria Biomedica">Ingenieria Biomedica</option>
                                                <option value="Ingenieria Mecatronica">Ingenieria Mecatronica</option>
                                                <option value="Diseño Industrial">Diseño Industrial</option>
                                                <option value="Diseño Grafico">Diseño Grafico</option>
                                                <option value="Marketing">Marketing</option>

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="institucion"><strong>Institucion Pregrado:</strong></label>
                                            <input type="text" class="form-control" name="institucion" id="institucion"
                                                value="{{datosUsuarios[19] }}" placeholder="Institucion">
                                        </div>
                                        <div class="form-group">
                                            <label for="posgrado"><strong>Posgrado:</strong></label>
                                            <input type="text" class="form-control" name="posgrado" id="posgrado"
                                                value="{{datosUsuarios[20] }}" placeholder="Posgrado">
                                        </div>
                                        <div class="form-group">
                                            <label for="institucion_posgrado"><strong>Intitución Posgrado:</strong></label>
                                            <input type="text" class="form-control" name="institucion_posgrado" id="institucion_posgrado"
                                                value="{{datosUsuarios[33] }}" placeholder="Intitución Posgrado">
                                        </div>
                                        <div class="form-group">
                                            <label for="cargo"><strong>Cargo:</strong></label>
                                            <select class="form-control" name="cargo" id="cargo"
                                                value="{{datosUsuarios[30] }}">
                                                <option value="">-- Seleccione el cargo --</option>
                                                <option value="0">CEO</option>
                                                <option value="1">Recursos Humanos</option>
                                                <option value="2">Empleado</option>
                                                <option value="3">Lider de Taller</option>
                                                <option value="4">Director de proyectos</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="departamentoHB"><strong>Departamento:</strong></label>
                                            <select class="form-control" name="departamentoHB" id="departamentoHB"
                                                value="{{datosUsuarios[36] }}">
                                                <option value="">-- Seleccione la Profesion --</option>
                                                <option value="Ingenieria de Sistemas">Ingenieria de Sistemas</option>
                                                <option value="Ingenieria Biomedica">Ingenieria Biomedica</option>
                                                <option value="Ingenieria Mecatronica">Ingenieria Mecatronica</option>
                                                <option value="Diseño Industrial">Diseño Industrial</option>
                                                <option value="Diseño Grafico">Diseño Grafico</option>
                                                <option value="Marketing">Marketing</option>

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="habilidades"><strong>Habilidades:</strong></label>
                                            <input type="text" class="form-control" name="habilidades" id="habilidades"
                                                value="{{datosUsuarios[16] }}" placeholder="Habilidades">
                                        </div>

                                        <div class="form-group">
                                            <label for="nombre_contacto"><strong>Nombre de contacto:</strong></label>
                                            <input type="text" class="form-control" name="nombre_contacto"
                                                id="nombre_contacto" placeholder="Nombre de contacto"
                                                value="{{datosUsuarios[24] }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="numero_contacto"><strong>Número de contacto:</strong></label>
                                            <input type="text" class="form-control" name="numero_contacto"
                                                id="numero_contacto" value="{{datosUsuarios[25] }}"
                                                placeholder="Número de contacto">
                                        </div>
                                        <div class="form-group">
                                            <label for="usuario_trello"><strong>Usuario Trello:</strong></label>
                                            <input type="text" class="form-control" name="usuario_trello"
                                                id="usuario_trello" placeholder="Usuario Trello"
                                                value="{{datosUsuarios[34] }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="usuario_slack"><strong>Usuario Slack:</strong></label>
                                            <input type="text" class="form-control" name="usuario_slack"
                                                id="usuario_slack" value="{{datosUsuarios[35] }}"
                                                placeholder="Usuario Slack">
                                        </div>


                                        <div class="form-group">
                                            <label for="entidad_bancaria"><strong>Entidad Bancaria:</strong></label>
                                            <input type="text" class="form-control" name="entidad_bancaria"
                                                id="entidad_bancaria" placeholder="Entidad Bancaria"
                                                value="{{datosUsuarios[21] }}" >
                                        </div>
                                        <div class="form-group">
                                            <label for="tipo_cuenta"><strong>Tipo de Cuenta:</strong></label>
                                            <select class="form-control" name="tipo_cuenta" id="tipo_cuenta"
                                            value="{{datosUsuarios[21] }}" >
                                                <option value="">-- Seleccione un tipo --</option>
                                                <option value="Ahorro">Ahorro</option>
                                                <option value="Corriente">Corriente</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="numero_cuenta"><strong>Número de cuenta:</strong></label>
                                            <input type="number" class="form-control" name="numero_cuenta"
                                                id="numero_cuenta" placeholder="Número de cuenta"
                                                value="{{datosUsuarios[21] }}" >
                                        </div>

                                        <div class="form-group">
                                            <label for="contrasena"><strong>Contraseña:</strong></label>
                                            <input type="password" class="form-control" name="contrasena"
                                                id="contrasena" placeholder="Contraseña">
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-12">

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                        </div>
                                    </div>

                                </div>
                            </div s="body">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}