{% extends 'templates/light/base.html' %}
{% block content %}
<div class="main_content" id="main-content">

    <div class="page">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="fa fa-times"></i></span>
                <span class="alert-inner--text"><strong>Error</strong> {{ message }}!</span>
                <button type="button" class="undo" aria-label="Undo">Cerrar</button>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if category == 'correcto' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
                <span class="alert-inner--text"><strong>Correcto!</strong> {{ message }}!</span>
                <button type="button" class="undo" aria-label="Undo">Cerrar</button>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h1 class="text-center">Información de Usuarios</h1>
            <div class="circle-image">
                <img src="{{ url_for('static', filename='images/users/' + datosUsuarios [23]) }}"
                    alt="Imagen de perfil">
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <h4>Datos Personales</h4>
                                            <hr>
                                            <ul>
                                                <li><strong>Primer Nombre:</strong> {{datosUsuarios [1]}}</li>
                                                <li><strong>Segundo Nombre:</strong> {{datosUsuarios [2] }}</li>
                                                <li><strong>Primer Apellido:</strong> {{datosUsuarios [3]}}</li>
                                                <li><strong>Segundo Apellido:</strong> {{datosUsuarios [4] }}</li>
                                                <li><strong>Género:</strong> {{datosUsuarios [5]}}</li>
                                                <li><strong>Fecha de Nacimiento:</strong> {{datosUsuarios [6] }}</li>
                                                <li><strong>Edad:</strong> {{datosUsuarios [28]}}</li>
                                                <li><strong>Foto:</strong> {{datosUsuarios [23] }}</li>

                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <h4>Contacto</h4>
                                            <hr>
                                            <ul>
                                                <li><strong>Correo:</strong> {{datosUsuarios [7]}}@humanbionics.com.co
                                                </li>
                                                <li><strong>No. de Identificación:</strong> {{datosUsuarios [8] }}</li>
                                                <li><strong>Celular:</strong> {{datosUsuarios [15]}}</li>
                                                <li><strong>Teléfono:</strong> {{datosUsuarios [14] }}</li>
                                                <li><strong>Dirección:</strong> {{datosUsuarios [9]}}</li>
                                                <li><strong>Barrio:</strong> {{datosUsuarios [10]}}</li>
                                                <li><strong>Ciudad:</strong> {{datosUsuarios [11]}}</li>
                                                <li><strong>Departamento:</strong> {{datosUsuarios [12] }}</li>
                                                <li><strong>País:</strong> {{datosUsuarios [13]}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <h4>Formación y Cargo</h4>
                                            <hr>
                                            <ul>
                                                <li><strong>Profesión:</strong> {{datosUsuarios [17] }}</li>
                                                <li><strong>Institución Pregrado:</strong> {{datosUsuarios [19] }}</li>
                                                <li><strong>Intitucion Posgrado:</strong> {{datosUsuarios [33] }}</li>
                                                <li><strong>Cargo:</strong> {{datosUsuarios [39] }}</li>
                                                <li><strong>Departamento:</strong> {{datosUsuarios [36] }}</li>
                                                <li><strong>Habilidades:</strong> {{datosUsuarios [16] }}</li>

                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <h4>Información Adicional</h4>
                                            <hr>
                                            <ul>
                                                <li><strong>Nombre de Contacto:</strong> {{datosUsuarios [24] }}</li>
                                                <li><strong>Número de Contacto:</strong> {{datosUsuarios [25] }}</li>
                                                <li><strong>Usuario Intranet:</strong> {{datosUsuarios [26] }}</li>
                                                <li><strong>Usuario Trello:</strong> {{datosUsuarios [34] }}</li>
                                                <li><strong>Usuario Slack:</strong> {{datosUsuarios [35] }}</li>


                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <h4>Seguridad Social</h4>
                                            <hr>
                                            <ul>
                                                <li><strong>Entidad de Salud EPS:</strong> {{datosUsuarios [21] }}</li>
                                                <li><strong>Administradora de Pensión:</strong> {{datosUsuarios [29] }}
                                                </li>
                                                <li><strong>ARL:</strong> {{datosUsuarios [37] }}</li>
                                                <li><strong>Caja de compensación:</strong> {{datosUsuarios [38] }}</li>
                                                <li><strong>Tipo de Sangre:</strong> {{datosUsuarios [22] }}</li>


                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <h4>Información Bancaria</h4>
                                            <hr>
                                            <ul>
                                                <li><strong>Número de Cuenta:</strong> {{datosUsuarios [32] }}</li>
                                                <li><strong>Tipo de Cuenta:</strong> {{datosUsuarios [31] }}</li>
                                                <li><strong>Entidad Bancaria:</strong> {{datosUsuarios [30] }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/editEmpleados/{{datosUsuarios [26] }}"><button class="btn btn-primary">
                                    Editar Informacion
                                </button></a>
                        </div s="body">

                    </div>

                </div>
            </div>
            {% endblock %}