{% extends 'templates/light/base.html' %}
{% block content %}
<!--div class="main_content" id="main-content">
  <div class="page">

    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="table-responsive">
            <table class="table table-hover mb-0 c_table">
              <thead>
                <tr>

                  <th>User</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Profesion</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                
                  {% for datosUsuario in datosUsuarios %}
                  {% if datosUsuario[2] != session["usuario"] %}
                  Modify this line to check if current user is not the same as logged-in user 
                  <tr>
                    <td>
                      <img src="{{ url_for('static', filename='images/' + datosUsuario[4]) }}" class="avatar w30"
                        alt="">
                      <span class="ml-2">{{datosUsuario[0]}} {{datosUsuario[1]}}</span>
                    </td>
                    <td>
                      <span class="phone">+57 {{datosUsuario[3]}}</span>
                    </td>
                    <td>
                      <span class="email"><a href="javascript:void(0);" title="">{{datosUsuario[2]}}</a></span>
                    </td>
                    <td>
                      <span class="phone text-center">{{datosUsuario[5]}}</span>
                    </td>
                    <td>
                      <a href="https://mail.hostinger.com/?_task=mail&_mbox=INBOX" target="_blank"><button
                          class="btn btn-primary btn-sm"><i class="ti-email"></i></button></a>
                      <a href="https://slack.com/intl/es-co/" target="_blank"><button class="btn btn-primary btn-sm"><i
                            class="fa fa-slack"></i></button></a>
                      <a href="/verEmpleado/{{ datosUsuario[6] }}"><button class="btn btn-primary btn-sm"><i
                            class="fa fa-eye"></i></button></a>
                      <a href="/editEmpleados/{{ datosUsuario[6] }}"><button class="btn btn-primary btn-sm"><i
                            class="fa fa-edit"></i></button></a>
                    <form action="/eliminar-usuario/{{ usuario }}" method="POST">
                      <a href="/eliminar-usuario/{{ datosUsuario[6] }}" class="btn btn-danger btn-sm"
                        onclick="return confirm('¿Está seguro de que desea eliminar a este usuario?')"><i
                          class="fa fa-trash"></i></a>
                    </form>
                    </td>
                  </tr>
                  {% endif %}  Add this line to end the if statement 
                  {% endfor %}
                
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div-->

<div class="main_content" id="main-content">
  <div class="page">

    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="table-responsive">
            <table class="table table-hover mb-0 c_table">
              <thead>
                <tr>

                  <th>User</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Profesion</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for datosUsuario in datosUsuarios %}
                {% if datosUsuario[2] != session["usuario"] %}
                <tr>
                  <td>
                    <img src="{{ url_for('static', filename='images/' + datosUsuario[4]) }}" class="avatar w30" alt="">
                    <span class="ml-2">{{datosUsuario[0]}} {{datosUsuario[1]}}</span>
                  </td>
                  <td>
                    <span class="phone">+57 {{datosUsuario[3]}}</span>
                  </td>
                  <td>
                    <span class="email"><a href="javascript:void(0);" title="">{{datosUsuario[2]}}@humanbionics.com.co</a></span>
                  </td>
                  <td>
                    <span class="phone text-center">{{datosUsuario[5]}}</span>
                  </td>
                  <td>
                    <a href="/verEmpleado/{{ datosUsuario[6] }}"><button class="btn btn-primary btn-sm"><i
                          class="fa fa-eye"></i></button></a>
                    <a href="/editEmpleados/{{ datosUsuario[6] }}"><button class="btn btn-primary btn-sm"><i
                          class="fa fa-edit"></i></button></a>
                    <form action="{{ url_for('eliminarUsuario', usuario=datosUsuario[6]) }}" method="POST"
                      onsubmit="return confirm('¿Está seguro que desea eliminar al usuario {{datosUsuario[2]}}?')">
                      <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                    </form>
                  </td>

                </tr>
                {% endif %}
                {% endfor %}

              </tbody>

            </table>
            <br>
            <a href="/registrarEmpleados"><button class="btn btn-primary">Añadir Usuario</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}