<!--{% block usuario %}
    {% endblock %}-->
{% extends 'templates/light/base.html' %}

{% block content %}


<div class="main_content" id="main-content">

    <div class="page">
        <br>
        <h1 class="text-center ">Cursos</h1>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% for datosCursos in datosCursos %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="heading heading-5 strong-600">{{datosCursos[2]}}</h5>
                            <h6 class="heading heading-sm strong-400 text-muted mb-4">
                                {{datosCursos[9]}}
                            </h6>
                            <p class="card-text">{{datosCursos[7]}}</p>

                            <br>
                            <p class="card-text">{{datosCursos[6]}}</p>
                            <a href="#" class="btn btn-sm btn-primary">Ver Más...</a>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <div class="col">
                                    <img src="{{ url_for('static', filename='images/' + datosCursos[8]) }}"
                                        class="avatar avatar-lg mr-3">
                                    <span class="avatar-content">{{datosCursos[1]}}</span>
                                </div>
                                <div class="col text-right text-xs-right">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-2">
                                            <a href="#"><i class="fa fa-heart mr-1"></i> 50</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-eye text-muted mr-1"></i> 750
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <h1 class="text-center ">Noticias</h1>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% for datosNoticias in datosNoticias %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="heading heading-5 strong-600">{{datosNoticias[2]}}</h5>
                            <h6 class="heading heading-sm strong-400 text-muted mb-4">
                                {{datosNoticias[7]}}
                            </h6>
                            <p class="card-text">{{datosNoticias[4]}}</p>

                            <a href="#" class="btn btn-sm btn-primary">Ver Más...</a>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <div class="col">
                                    <img src="{{ url_for('static', filename='images/' + datosNoticias[6]) }}"
                                        class="avatar avatar-lg mr-3">
                                    <span class="avatar-content">{{datosNoticias[1]}}</span>
                                </div>
                                <div class="col text-right text-xs-right">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-2">
                                            <a href="#"><i class="fa fa-heart mr-1"></i> 50</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-eye text-muted mr-1"></i> 750
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% endblock %}