<!--{% block usuario %}
    {% endblock %}-->
{% extends 'templates/light/base.html' %}

{% block content %}


<div class="main_content" id="main-content">
    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="javascript:void(0);">
                <h4>Inicio / Cursos / Noticias</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
            </div>
        </nav>
        <br>
        <h1 class="text-center ">Cursos</h1>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% for datosCursos in datosCursos %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="heading heading-5 strong-600">{{datosCursos[2]}}</h5>
                            <h6 class="heading heading-sm strong-400 text-muted mb-4">
                                {{datosCursos[11]}}
                            </h6>
                            <p class="card-text">{{datosCursos[7]}}</p>

                            <br>
                            <p class="card-text">{{datosCursos[6]}}</p>
                            <a href="/cursos/{{datosCursos[0]}}" class="btn btn-sm btn-primary">Ver Más...</a>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <div class="col">
                                    {% if datosCursos[10] is none %}
                                    <img src="{{ url_for('static', filename='images/users/userMale.PNG') }}"
                                        class="avatar avatar-lg mr-3">
                                    {% else %}
                                    <img src="{{ url_for('static', filename='images/users/' + datosCursos[10]) }}"
                                        class="avatar avatar-lg mr-3">
                                    {%endif%}
                                    <span class="avatar-content">{{datosCursos[8]}} {{datosCursos[9]}}</span>
                                </div>
                                <div class="col text-right text-xs-right">
                                    <!--ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-2">
                                            <a href="#"><i class="fa fa-heart mr-1"></i> 50</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-eye text-muted mr-1"></i> 750
                                        </li>
                                    </ul-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <h1 class="text-center ">Noticias</h1>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% for datosNoticias in datosNoticias %}
                <div class="col-md-4">
                    <div class="card" style="width: 400; height: 600;">
                        <img class="card-img-top"
                            src="{{ url_for('static', filename='images/Noticias/' + datosNoticias[2]) }}" width="160"
                            height="170" alt="Imagen de Noticia" class="img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">{{datosNoticias[1]}}</h4>
                            <h6 class="heading heading-sm strong-400 text-muted mb-4">
                                {{datosNoticias[9]}}
                            </h6>
                            <p class="card-text">{{datosNoticias[3]}}</p>
                            <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <div class="col">
                                    {% if datosNoticias[8] is none %}
                                    <img src="{{ url_for('static', filename='images/users/userMale.PNG') }}"
                                        class="avatar avatar-lg mr-3">
                                    {% else %}
                                    <img src="{{ url_for('static', filename='images/users/' + datosNoticias[8]) }}"
                                        class="avatar avatar-lg mr-3">
                                    {% endif %}

                                </div>
                                <div class="col text-right text-xs-right">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-2">
                                            <span class="avatar-content">{{datosNoticias[6]}}
                                                {{datosNoticias[7]}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% endblock %}