{% extends 'templates/light/base.html' %}
{% block content %}
<div class="main_content" id="main-content">
    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="javascript:void(0);">
                <h4>Usuarios / Nominas / Certificados</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card planned_task">
                        <div class="header">
                            <h2>Inventario</h2>
                            <ul class="nav nav-tabs nav-tabs-new" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="todos-tab" data-toggle="tab" href="#todos" role="tab"
                                        aria-controls="todos" aria-selected="true">Todos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="certificados-tab" data-toggle="tab" href="#certificados"
                                        role="tab" aria-controls="certificados" aria-selected="false">Certificados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nominas-tab" data-toggle="tab" href="#nominas" role="tab"
                                        aria-controls="nominas" aria-selected="false">Nominas</a>
                                </li>
                            </ul>
                        </div>

                        <div class="body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="todos" role="tabpanel"
                                    aria-labelledby="todos-tab">
                                    <hr>
                                    <div>
                                        <H1>Certificados</H1>
                                    </div>
                                    <hr>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-bordered table-striped table-hover mb-0 c_table js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Certificado</th>
                                                            <th>Subido por</th>
                                                            <th>fecha de subida</th>
                                                            <th>Archivo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for certificado in certificado %}
                                                        <tr>
                                                            <td>
                                                                <span class="ml-2">{{certificado[1]}}</span>
                                                            </td>
                                                            <td>
                                                                <span>{{certificado[6]}} {{certificado[7]}}</span>
                                                            </td>
                                                            <td>
                                                                <span>{{certificado[4]}}</span>
                                                            </td>
                                                            <td>
                                                                <a href="/ver_archivo/Certificado/{{certificado[5]}}"
                                                                    target="_blank">
                                                                    <button class="btn btn-primary btn-sm"><i
                                                                            class="fa fa-eye"></i></button>
                                                                </a>
                                                                <form action="" method="POST"
                                                                    style="display: inline-block;">
                                                                    <button class="btn btn-primary btn-sm"
                                                                        name="descargar_certificado"
                                                                        value="{{certificado[5]}}"><i
                                                                            class="fa fa-download"></i></button></a>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <br>
                                                <button class="btn btn-primary" data-toggle="modal"
                                                    data-target="#addCertificado">Solicitar
                                                    Certificado</button>
                                                <button class="btn btn-danger" data-toggle="modal"
                                                    data-target="#cancelarCertificado">Cancelar
                                                    Solicitud</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div>
                                        <H1>Nominas</H1>
                                    </div>
                                    <hr>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-bordered table-striped table-hover mb-0 c_table js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Nomina</th>
                                                            <th>Subido por</th>
                                                            <th>fecha de subida</th>
                                                            <th>Archivo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for nomina in nomina %}
                                                        <tr>
                                                            <td>
                                                                <span class="ml-2">{{nomina[3]}}</span>
                                                            </td>
                                                            <td>
                                                                <span>{{nomina[6]}} {{nomina[7]}}</span>
                                                            </td>
                                                            <td>
                                                                <span>{{nomina[4]}}</span>
                                                            </td>
                                                            <td>
                                                                <a href="/ver_archivo/Nomina/{{nomina[5]}}"
                                                                    target="_blank">
                                                                    <button class="btn btn-primary btn-sm"
                                                                        name="ver_nomina" value=""><i
                                                                            class="fa fa-eye"></i></button>
                                                                </a>
                                                                <form action="" method="POST"
                                                                    style="display: inline-block;">
                                                                    <button class="btn btn-primary btn-sm"
                                                                        name="descargar_nomina" value="{{nomina[5]}}"><i
                                                                            class="fa fa-download"></i></button></a>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <br>
                                                <button class="btn btn-primary" data-toggle="modal"
                                                    data-target="#solicitarNomina">Solicitar
                                                    Nomina</button>
                                                <button class="btn btn-danger" data-toggle="modal"
                                                    data-target="#cancelarNomina">Cancelar
                                                    Solicitud</button>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Contenido de la pestaña "Todos"</p>
                                </div>
                                <div class="tab-pane fade" id="certificados" role="tabpanel"
                                    aria-labelledby="certificados-tab">
                                    <hr>
                                    <div>
                                        <H1>Certificados</H1>
                                    </div>
                                    <hr>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-bordered table-striped table-hover mb-0 c_table js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Certificado</th>
                                                            <th>Subido por</th>
                                                            <th>fecha de subida</th>
                                                            <th>Archivo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for certificado in certificado %}
                                                        <tr>
                                                            <td>
                                                                <span class="ml-2">{{certificado[1]}}</span>
                                                            </td>
                                                            <td>
                                                                <span>{{certificado[6]}} {{certificado[7]}}</span>
                                                            </td>
                                                            <td>
                                                                <span>{{certificado[4]}}</span>
                                                            </td>
                                                            <td>
                                                                <a href="/ver_archivo/Certificado/{{certificado[5]}}"
                                                                    target="_blank">
                                                                    <button class="btn btn-primary btn-sm"><i
                                                                            class="fa fa-eye"></i></button>
                                                                </a>
                                                                <form action="" method="POST"
                                                                    style="display: inline-block;">
                                                                    <button class="btn btn-primary btn-sm"
                                                                        name="descargar_certificado"
                                                                        value="{{certificado[5]}}"><i
                                                                            class="fa fa-download"></i></button></a>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <br>
                                                <button class="btn btn-primary" data-toggle="modal"
                                                    data-target="#addCertificado">Solicitar
                                                    Certificado</button>
                                                <button class="btn btn-danger" data-toggle="modal"
                                                    data-target="#cancelarCertificado">Cancelar
                                                    Solicitud</button>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Contenido de la pestaña "certificados"</p>
                                </div>
                                <div class="tab-pane fade" id="nominas" role="tabpanel" aria-labelledby="nominas-tab">
                                    <hr>
                                    <div>
                                        <H1>Nominas</H1>
                                    </div>
                                    <hr>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-bordered table-striped table-hover mb-0 c_table js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Nomina</th>
                                                            <th>Subido por</th>
                                                            <th>fecha de subida</th>
                                                            <th>Archivo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for nomina in nomina %}
                                                        <tr>
                                                            <td>
                                                                <span class="ml-2">{{nomina[3]}}</span>
                                                            </td>
                                                            <td>
                                                                <span>{{nomina[6]}} {{nomina[7]}}</span>
                                                            </td>
                                                            <td>
                                                                <span>{{nomina[4]}}</span>
                                                            </td>
                                                            <td>
                                                                <a href="/ver_archivo/Nomina/{{nomina[5]}}"
                                                                    target="_blank">
                                                                    <button class="btn btn-primary btn-sm"
                                                                        name="ver_nomina" value=""><i
                                                                            class="fa fa-eye"></i></button>
                                                                </a>
                                                                <form action="" method="POST"
                                                                    style="display: inline-block;">
                                                                    <button class="btn btn-primary btn-sm"
                                                                        name="descargar_nomina" value="{{nomina[5]}}"><i
                                                                            class="fa fa-download"></i></button></a>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <br>
                                                <button class="btn btn-primary" data-toggle="modal"
                                                    data-target="#solicitarNomina">Solicitar
                                                    Nomina</button>
                                                <button class="btn btn-danger" data-toggle="modal"
                                                    data-target="#cancelarNomina">Cancelar
                                                    Solicitud</button>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Contenido de la pestaña "nominas"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--La tabla para ver todas las solicitudes y su estado-->
        <div class="container-fluid">
            <hr>
            <div>
                <H1>Solicitudes Realizadas</H1>
            </div>
            <hr>
            <!-- Basic Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-striped m-b-0">
                                    <thead>
                                        <tr>
                                            <th>Solicitud</th>
                                            <th data-breakpoints="xs">Nombre Solicitud</th>
                                            <th data-breakpoints="xs">Persona que solucionó</th>
                                            <th data-breakpoints="xs">Fecha de Solicitud</th>
                                            <th data-breakpoints="xs">Fecha de Resolucion</th>
                                            <th>Estado de Solicitud</th>
                                            <th>Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for solicitudesCertificado in solicitudesCertificado %}
                                        <tr>
                                            <td>Certificado</td>
                                            <td>{{solicitudesCertificado[2]}}</td>
                                            <td>{{solicitudesCertificado[11]}} {{solicitudesCertificado[12]}}</td>
                                            <td>{{solicitudesCertificado[4]}}</td>
                                            <td>{{solicitudesCertificado[8]}}</td>
                                            <td>{%
                                                if solicitudesCertificado[5]=="Pendiente" %}<span
                                                    class="badge badge-lg badge-pill badge-warning text-uppercase">
                                                    Pendiente
                                                </span>{%endif%}
                                                {%
                                                if solicitudesCertificado[5]=="Rechazado" %}<span
                                                    class="badge badge-lg badge-pill badge-danger text-uppercase">
                                                    Rechazado
                                                </span>{%endif%}
                                                {%
                                                if solicitudesCertificado[5]=="Completado" %}<span
                                                    class="badge badge-lg badge-pill badge-success text-uppercase">
                                                    Resuelto
                                                </span>{%endif%}
                                            <td>{{solicitudesCertificado[7]}}</td>

                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for solicitudesNomina in solicitudesNomina %}
                                        <tr>
                                            <td>Nomina</td>
                                            <td>{{solicitudesNomina[1]}}</td>
                                            <td>{{solicitudesNomina[11]}} {{solicitudesNomina[12]}}</td>
                                            <td>{{solicitudesNomina[3]}}</td>
                                            <td>{{solicitudesNomina[7]}}</td>
                                            <td>{%
                                                if solicitudesNomina[4]=="Pendiente" %}<span
                                                    class="badge badge-lg badge-pill badge-warning text-uppercase">
                                                    Pendiente
                                                </span>{%endif%}
                                                {%
                                                if solicitudesNomina[4]=="Rechazado" %}<span
                                                    class="badge badge-lg badge-pill badge-danger text-uppercase">
                                                    Rechazado
                                                </span>{%endif%}
                                                {%
                                                if solicitudesNomina[4]=="Completado" %}<span
                                                    class="badge badge-lg badge-pill badge-success text-uppercase">
                                                    Resuelto
                                                </span>{%endif%}
                                            <td>{{solicitudesNomina[8]}}</td>

                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="addCertificado" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label for="fecha_inicio_curso"><strong>Solicitar Certificado</strong></label>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="tipo_certificado"><strong>Tipo de Certificado:</strong></label>
                                <select class="selectpicker" name="tipo_certificado" title="Selecciona un curso"
                                    data-live-search="true" data-live-search-placeholder="Buscar ...">
                                    <option value="" selected disabled>Selecciona el tipo</option>
                                    <option value="Tipo 1">Tipo 1</option>
                                    <option value="Tipo 2">Tipo 2</option>
                                    <option value="Tipo 3">Tipo 3</option>
                                    <option value="Tipo 4">Tipo 4</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nombre_certificado" class="control-label sr-only">Nombre del
                                    Certificado</label>
                                <input type="text" class="form-control" id="nombre_certificado"
                                    name="nombre_certificado" placeholder="Nombre del certificado" required>
                            </div>
                            <div class="form-group">
                                <label><strong>Motivo de solicitud:</strong> </label>
                                <textarea class="form-control" rows="3" cols="30" name="motivo_solicitud"
                                    id="motivo_solicitud"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="solicitar_certificado"
                                class="btn btn-primary">Solicitar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="cancelarCertificado" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label for="fecha_inicio_curso"><strong>Cancelar Solicitud de Certificado</strong></label>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cancelar_certificado"><strong>Certificado:</strong></label>
                                <select class="selectpicker" name="cancelar_certificado"
                                    title="Selecciona un certificado" data-live-search="true"
                                    data-live-search-placeholder="Buscar ...">
                                    <option value="" selected disabled>Selecciona el certificado</option>
                                    {% for solicitudesCertificado in solicitudesCertificado %}
                                    {% if solicitudesCertificado[5]=="Pendiente" %}
                                    <option value="{{solicitudesCertificado[0]}}">{{solicitudesCertificado[2]}}</option>
                                    {% endif %}
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="cancelar_certificado" class="btn btn-danger">Cancelar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="solicitarNomina" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label><strong>Solicitar Nomina</strong></label>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="nombre_nomina" class="control-label sr-only">Nombre de la
                                    Nomina</label>
                                <input type="text" class="form-control" id="nombre_nomina" name="nombre_nomina"
                                    placeholder="Nombre de la Nomina" required>
                            </div>
                            <div class="form-group">
                                <label><strong>Motivo de solicitud:</strong> </label>
                                <textarea class="form-control" rows="3" cols="30" name="motivo_solicitud"
                                    id="motivo_solicitud"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="solicitar_nomina" class="btn btn-primary">Solicitar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="cancelarNomina" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label><strong>Cancelar Solicitud de Nomina</strong></label>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cancelar_nomina"><strong>Nomina:</strong></label>
                                <select class="selectpicker" name="cancelar_nomina" title="Selecciona una nomina"
                                    data-live-search="true" data-live-search-placeholder="Buscar ...">
                                    <option value="" selected disabled>Selecciona la nomina</option>
                                    {% for solicitudesNomina in solicitudesNomina %}
                                    {% if solicitudesNomina[4]=="Pendiente" %}
                                    <option value="{{solicitudesNomina[0]}}">{{solicitudesNomina[1]}}</option>
                                    {% endif %}
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="cancelar_nomina" class="btn btn-danger">Cancelar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


{% endblock %}