{% extends 'templates/light/base.html' %}
{% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Nominas / {{nomina_usuario[0]}} {{nomina_usuario[1]}}</h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addNomina">Añadir
          Nomina</button>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <span class="alert-inner--icon"><i class="fa fa-times"></i></span>
      <span class="alert-inner--text"><strong>Error</strong> {{ message }}!</span>
      <button type="button" class="undo" aria-label="Undo">Cerrar</button>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% if category == 'correcto' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
      <span class="alert-inner--text"><strong>Correcto!</strong> {{ message }}!</span>
      <button type="button" class="undo" aria-label="Undo">Cerrar</button>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover mb-0 c_table js-basic-example dataTable">
              <thead>
                <tr>
                  <th>Nomina</th>
                  <th>Subido por</th>
                  <th>fecha de subida</th>
                  <th>Archivo</th>
                </tr>
              </thead>
              <tbody>
                {% for nomina in nomina %}
                <tr>
                  <td>
                    <span class="ml-2">{{nomina[3]}}</span>
                  </td>
                  
                  <td>
                    <span>{{nomina[6]}} {{nomina[7]}}</span>
                  </td>
                  <td>
                    <span>{{nomina[4]}}</span>
                  </td>
                  <td>
                    <a href="/ver_archivo/Nomina/{{nomina[5]}}" target="_blank"><button class="btn btn-primary btn-sm"
                        style="display: inline-block;"><i class="fa fa-eye"></i></button></a>
                    <form action="" method="POST" style="display: inline-block;">
                      <button class="btn btn-primary btn-sm" name="descargar_nomina" value="{{nomina[5]}}"
                        style="display: inline-block;"><i class="fa fa-download"></i></button>
                      <button type="submit" class="btn btn-danger btn-sm" name="eliminar_nomina" value="{{nomina[5]}}"
                        style="display: inline-block;"><i class="fa fa-trash"></i></button>
                    </form>
                  </td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<form action="" method="POST" enctype="multipart/form-data">
  <div class="modal fade" id="addNomina" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <label for="fecha_inicio_curso"><strong>Añadir Noticias</strong></label>
        </div>
        <div class="modal-body">
          <div class="row clearfix">
            <div class="col-12">
              <div class="form-group">
                <label for="nombre_nomina"><strong>Nombre del Nomina:</strong></label>
                <input type="text" class="form-control" name="nombre_nomina" id="nombre_nomina"
                  placeholder="Nombre del Nomina">
              </div>

            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="archivo_nomina"><strong>Nomina:</strong></label>
                <div>
                  <input type="file" name="archivo_nomina" id="archivo_nomina" class="custom-input-file" />
                  <label for="archivo_nomina">
                    <i class="fa fa-upload"></i>
                    <span>Selecciona un PDF…</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" name="crear_nomina" class="btn btn-primary">Añadir</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
{% endblock %}