{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <div class="modal-content">
              <form action="" method="POST">
                <div class="modal-body">
                  <h1 for="fecha_inicio_curso">
                    <strong>Editar de Proyectos</strong>
                  </h1>
                  <div class="row clearfix">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="titulo_noticia"
                          ><strong>Proyectos creados</strong></label
                        >
                        <select
                          class="selectpicker"
                          name="proyecto_id"
                          title="Selecciona un curso"
                          data-live-search="true"
                          data-live-search-placeholder="Buscar ..."
                        >
                          <option value="" selected disabled>
                            Selecciona un proyecto
                          </option>
                          {% for datosProyectos in datosProyectos %}
                          <option value="{{ datosProyectos[0] }}">
                            {{ datosProyectos[1] }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <form action="" method="POST">
                        <input
                          type="hidden"
                          name="proyecto_id"
                          value="{{ datosProyectos[0] }}"
                        />
                        <button
                          type="submit"
                          name="editar_proyecto"
                          value="{{ datosProyectos[0] }}"
                          class="btn btn-primary"
                        >
                          Editar
                        </button>

                        <a
                          href="javascript:history.go(-1)"
                          class="btn btn-secondary"
                          ><i class="fa fa-arrow-left"></i>
                          <span>Volver</span></a
                        >
                      </form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
