{% extends 'templates/light/base.html' %}
{% block content %}
<div class="main_content" id="main-content">

    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="javascript:void(0);">
                <h4>Proyectos</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>

                <form class="form-inline my-2 my-lg-0">
                    {% if session["cargo"] == 4%}
                    <button data-toggle="modal" data-target="#addproject" type="button"
                        class="btn btn-primary ml-2  btn-animated btn-animated-y">
                        <span class="btn-inner--visible">Añadir Proyecto</span>
                        <span class="btn-inner--hidden"><i class="fa fa-plus"></i></span>
                    </button>

                    <button data-toggle="modal" data-target="#verProyectos" type="button"
                        class="btn btn-success ml-2  btn-animated btn-animated-y">
                        <span class="btn-inner--visible">Opciones Proyecto</span>
                        <span class="btn-inner--hidden"><i class="fa fa-cog"></i></span>
                    </button>

                    {% endif %}
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="fa fa-times"></i></span>
                <span class="alert-inner--text"><strong>Error</strong> {{ message }}!</span>
                <button type="button" class="undo" aria-label="Undo">Cerrar</button>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if category == 'correcto' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
                <span class="alert-inner--text"><strong>Correcto!</strong> {{ message }}!</span>
                <button type="button" class="undo" aria-label="Undo">Cerrar</button>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="row clearfix">

                {% for datosProyectos in datosProyectos %}

                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="card mcard_4">
                        <div class="body">
                            <div class="img">
                                <img src="{{ url_for('static', filename='images/proyectos/' + datosProyectos[2]) }}"
                                    class="rounded-circle" alt="profile-image">
                            </div>
                            <div class="user">
                                <h5 class="mt-3 mb-1">{{datosProyectos[1]}}</h5>
                                <small class="text-muted">{{datosProyectos[3]}}</small>
                            </div>
                            <ul class="list-unstyled social-links">
                                <li title="Integrantes"><a href="/proyectos/usuarios/{{datosProyectos[0]}}"><i
                                            class="fa fa-briefcase"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<form action="/proyectos" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="addproject" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label for="fecha_inicio_curso"><strong>Añadir Proyecto</strong></label>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="nombre_proyecto"><strong>Nombre del Proyecto:</strong></label>
                                <input type="text" class="form-control" name="nombre_proyecto" id="nombre_proyecto"
                                    placeholder="Nombre del Proyecto">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="foto"><strong>Imagen del Proyecto:</strong></label>
                                <div>
                                    <input type="file" name="imagen_proyecto" id="imagen_proyecto"
                                        class="custom-input-file" />
                                    <label for="imagen_proyecto">
                                        <i class="fa fa-upload"></i>
                                        <span>Selecciona una imagen…</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label><strong>Descripcion</strong> </label>
                                <textarea class="form-control" rows="3" cols="30" name="descripcion_proyecto"
                                    id="descripcion_proyecto" required></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" name="crear_proyecto" class="btn btn-primary">Añadir</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


<div class="modal fade" id="verProyectos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label for="fecha_inicio_curso"><strong>Opciones de Proyectos</strong></label>
            </div>
            <form action="" method="POST">
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="titulo_noticia"><strong>Proyectos creados</strong></label>
                                <select class="selectpicker" name="proyecto_id" title="Selecciona un curso"
                                    data-live-search="true" data-live-search-placeholder="Buscar ...">
                                    <option value="" selected disabled>Selecciona un proyecto</option>
                                    {% for datosProyectos in datosProyectos %}
                                    <option value="{{ datosProyectos[0] }}">{{ datosProyectos[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <form action="" method="POST">
                                <input type="hidden" name="proyecto_id" value="{{ datosProyectos[0] }}">
                                <button type="submit" name="editar_proyecto" value="{{ datosProyectos[0] }}"
                                    class="btn btn-primary">Editar</button>
                                <button type="submit" name="borrar_proyecto" value="{{ datosProyectos[0] }}"
                                    class="btn btn-danger">Eliminar
                                    <i class="fa fa-trash"></i></button>

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}