{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Permisos</h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <button type="button" class="btn btn-primary ml-2 btn-animated btn-animated-y" data-toggle="modal"
          data-target="#agendarPermiso">
          <span class="btn-inner--visible">Agendar Permiso</span>
          <span class="btn-inner--hidden"><i class="fa fa-plane"></i></span>
        </button>
        <button type="button" class="btn btn-primary ml-2 btn-animated btn-animated-y" data-toggle="modal"
          data-target="#agendarPermisoEX">
          <span class="btn-inner--visible">Agendar Permiso a Empresa</span>
          <span class="btn-inner--hidden"><i class="fa fa-plane"></i></span>
        </button>
        <button type="button" class="btn btn-danger ml-2 btn-animated btn-animated-y" data-toggle="modal"
          data-target="#cancelarPermiso">
          <span class="btn-inner--visible">Cancelar Permiso</span>
          <span class="btn-inner--hidden"><i class="fa fa-times-circle"></i></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fa fa-times"></i></span>
        <span class="alert-inner--text"><strong>Error</strong> {{ message }}!</span>
        <button type="button" class="undo" aria-label="Undo">Cerrar</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% if category == 'correcto' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
        <span class="alert-inner--text"><strong>Correcto!</strong> {{ message }}!</span>
        <button type="button" class="undo" aria-label="Undo">Cerrar</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <!--Users Permissions Table-->
            <div class="body">
              <h1>Mis Permisos</h1>
              <hr />
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover mb-0 c_table dataTable">
                  <thead>
                    <tr>
                      <th>Inicio de Permiso</th>
                      <th>Fin de permiso</th>
                      <th>Inicio de recuperación</th>
                      <th>Fin de recuperación</th>
                      <th>Observaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for solicitudes_permisos in solicitudes_permisos %} {% if
                    solicitudes_permisos[10] == session['usuario'] %} {% if
                    solicitudes_permisos[8] == 'Aceptado' %}
                    <tr>
                      <td>{{solicitudes_permisos[13]}}</td>
                      <td>{{solicitudes_permisos[14]}}</td>
                      <td>{{solicitudes_permisos[15]}}</td>
                      <td>{{solicitudes_permisos[16]}}</td>
                      <td>{{solicitudes_permisos[9]}}</td>
                    </tr>
                    {% endif %} {% endif %} {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="body">
              <h1>Mis permisos activos de acceso a la empresa</h1>
              <hr />
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover mb-0 c_table dataTable">
                  <thead>
                    <tr>
                      <th>Usuario</th>
                      <th>Inicio de Permiso</th>
                      <th>Fin de permiso</th>
                      <th>Motivo</th>
                      <th>Observaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for solicitud_permiso_extra in solicitud_permiso_extra %}

                    <tr>
                      <td>
                        {{solicitud_permiso_extra[10]}}
                        {{solicitud_permiso_extra[11]}}
                      </td>
                      <td>{{solicitud_permiso_extra[1]}}</td>
                      <td>{{solicitud_permiso_extra[2]}}</td>
                      <td>{{solicitud_permiso_extra[8]}}</td>
                      <td>{{solicitud_permiso_extra[9]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cancel Permission-->
<div class="modal fade" id="cancelarPermiso" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label><strong>Cancelar Programacion de Permisos</strong></label>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          <div class="row clearfix">
            <div class="col-12">
              <div class="form-group">
                <label for="permiso_id"><strong>Permisos solicitados</strong></label>
                <select class="selectpicker" name="permiso_id" title="Selecciona una opcion" data-live-search="true"
                  data-live-search-placeholder="Buscar ...">
                  <option value="" selected disabled>
                    Selecciona un Usuario
                  </option>
                  {% for solicitudes_permisos in solicitudes_permisos %} {% if
                  solicitudes_permisos[10] == session['usuario'] %} {% if
                  solicitudes_permisos[8] == 'Pendiente' %}
                  <option value="{{ solicitudes_permisos[0] }}">
                    <strong>Inicio:</strong> {{ solicitudes_permisos[1] }}
                    <strong>Fin: </strong> {{solicitudes_permisos[2]}}, tiempo:
                    {{solicitudes_permisos[11]}}
                  </option>
                  {% endif %} {% endif %} {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="permiso_id_ex"><strong>Permisos solicitados de acceso a la empresa</strong></label>
                <select class="selectpicker" name="permiso_id_ex" title="Selecciona una opcion" data-live-search="true"
                  data-live-search-placeholder="Buscar ...">
                  <option value="" selected disabled>
                    Selecciona un Usuario
                  </option>
                  {% for solicitud_permiso_ex in solicitud_permiso_ex %}
                  <option value="{{ solicitud_permiso_ex[0] }}">
                    <strong>Inicio:</strong> {{ solicitud_permiso_ex[1] }}
                    <strong>Fin: </strong> {{solicitud_permiso_ex[2]}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" name="cancelarPermiso" class="btn btn-danger">
              Cancelar Permiso
            </button>
            <button type="submit" name="cancelarPermisoEx" class="btn btn-danger">
              Cancelar Permiso de acceso
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Solicitate Permission-->
<div class="modal fade" id="agendarPermiso" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label><strong>Agendar Permisos</strong></label>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          <div class="row clearfix">
            <div class="col-6">
              <div class="form-group demo-masked-input">
                <label for="fecha_inicio_extemporanea"><strong>Inicio de permiso:</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                  </div>
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" min="1960-01-01"
                    data-date-autoclose="true" class="form-control" name="inicio_dia_permiso" id="inicio_dia_permiso"
                    value="" placeholder="Inicio de Permiso" />
                  <div class="input-group-append">
                    <select class="form-control" id="inicio_hora_permiso" name="inicio_hora_permiso" title="Hora">
                      <option value="">Hora</option>
                      <option value="8:00 am">8:00 am</option>
                      <option value="8:30 am">8:30 am</option>
                      <option value="9:00 am">9:00 am</option>
                      <option value="9:30 am">9:30 am</option>
                      <option value="10:00 am">10:00 am</option>
                      <option value="10:30 am">10:30 am</option>
                      <option value="11:00 am">11:00 am</option>
                      <option value="11:30 am">11:30 am</option>
                      <option value="12:00 pm">12:00 pm</option>
                      <option value="2:00 pm">2:00 pm</option>
                      <option value="2:30 pm">2:30 pm</option>
                      <option value="3:00 pm">3:00 pm</option>
                      <option value="3:30 pm">3:30 pm</option>
                      <option value="4:00 pm">4:00 pm</option>
                      <option value="4:30 pm">4:30 pm</option>
                      <option value="5:00 pm">5:00 pm</option>
                      <option value="5:30 pm">5:30 pm</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group demo-masked-input">
                <label for="fin_dia_permiso"><strong>Fin de permiso:</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                  </div>
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose="true"
                    class="form-control" name="fin_dia_permiso" id="fin_dia_permiso" value=""
                    placeholder="Fin de Permiso" />
                  <div class="input-group-append">
                    <select class="form-control" name="fin_hora_permiso" id="fin_hora_permiso" title="Hora">
                      <option value="">Hora</option>
                      <option value="8:00 am">8:00 am</option>
                      <option value="8:30 am">8:30 am</option>
                      <option value="9:00 am">9:00 am</option>
                      <option value="9:30 am">9:30 am</option>
                      <option value="10:00 am">10:00 am</option>
                      <option value="10:30 am">10:30 am</option>
                      <option value="11:00 am">11:00 am</option>
                      <option value="11:30 am">11:30 am</option>
                      <option value="12:00 pm">12:00 pm</option>
                      <option value="12:30 pm">12:30 pm</option>
                      <option value="2:00 pm">2:00 pm</option>
                      <option value="2:30 pm">2:30 pm</option>
                      <option value="3:00 pm">3:00 pm</option>
                      <option value="3:30 pm">3:30 pm</option>
                      <option value="4:00 pm">4:00 pm</option>
                      <option value="4:30 pm">4:30 pm</option>
                      <option value="5:00 pm">5:00 pm</option>
                      <option value="5:30 pm">5:30 pm</option>
                      <option value="6:00 pm">6:00 pm</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group demo-masked-input">
                <label for="fecha_inicio_extemporanea"><strong>Inicio de recuperación de permiso:</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                  </div>
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" min="1960-01-01"
                    data-date-autoclose="true" class="form-control" name="inicio_dia_recuperar"
                    id="inicio_dia_recuperar" value="" placeholder="Inicio de recuperación" required>
                  <div class="input-group-append">
                    <select class="form-control" id="inicio_hora_recuperar" name="inicio_hora_recuperar" title="Hora"
                      required>
                      <option value="">Hora</option>
                      <option value="6:00 am">6:00 am</option>
                      <option value="6:30 am">6:30 am</option>
                      <option value="7:00 am">7:00 am</option>
                      <option value="7:30 am">7:30 am</option>
                      <option value="8:00 am">8:00 am</option>
                      <option value="8:30 am">8:30 am</option>
                      <option value="9:00 am">9:00 am</option>
                      <option value="9:30 am">9:30 am</option>
                      <option value="10:00 am">10:00 am</option>
                      <option value="10:30 am">10:30 am</option>
                      <option value="11:00 am">11:00 am</option>
                      <option value="11:30 am">11:30 am</option>
                      <option value="12:00 pm">12:00 pm</option>
                      <option value="12:30 pm">12:30 pm</option>
                      <option value="1:00 pm">1:00 pm</option>
                      <option value="1:30 pm">1:30 pm</option>
                      <option value="6:00 pm">6:00 pm</option>
                      <option value="6:30 pm">6:30 pm</option>
                      <option value="7:00 pm">7:00 pm</option>
                      <option value="7:30 pm">7:30 pm</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group demo-masked-input">
                <label for="fin_dia_recuperar"><strong>Fin de recuperación de permiso:</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                  </div>
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose="true"
                    class="form-control" name="fin_dia_recuperar" id="fin_dia_recuperar" value=""
                    placeholder="Fin de Recuperación" required>
                  <div class="input-group-append">
                    <select class="form-control" name="fin_hora_recuperar" id="fin_hora_recuperar" title="Hora"
                      required>
                      <option value="">Hora</option>
                      <option value="6:30 am">6:30 am</option>
                      <option value="7:00 am">7:00 am</option>
                      <option value="7:30 am">7:30 am</option>
                      <option value="8:00 am">8:00 am</option>
                      <option value="8:30 am">8:30 am</option>
                      <option value="9:00 am">9:00 am</option>
                      <option value="9:30 am">9:30 am</option>
                      <option value="10:00 am">10:00 am</option>
                      <option value="10:30 am">10:30 am</option>
                      <option value="11:00 am">11:00 am</option>
                      <option value="11:30 am">11:30 am</option>
                      <option value="12:00 pm">12:00 pm</option>
                      <option value="12:30 pm">12:30 pm</option>
                      <option value="1:00 pm">1:00 pm</option>
                      <option value="1:30 pm">1:30 pm</option>
                      <option value="2:00 pm">2:00 pm</option>
                      <option value="6:30 pm">6:30 pm</option>
                      <option value="7:00 pm">7:00 pm</option>
                      <option value="7:30 pm">7:30 pm</option>
                      <option value="8:00 pm">8:00 pm</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="motivo_permiso" class="form-label">Motivo del permiso:</label>
            <textarea class="form-control" name="motivo_permiso" id="motivo_permiso" rows="3" required></textarea>
          </div>
          <div class="modal-footer">
            <label class="d-block">Contar Sábados</label>
            <label class="toggle-switch">
              <input type="checkbox" name="contar_sabados" id="contar_sabados" checked />
              <span class="toggle-switch-slider rounded-circle"></span>
            </label>
            <button type="submit" name="agendar_permiso" class="btn btn-success">
              Agendar
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--AGENDAR PERMISO HORAS EXTRA-->
<!-- Modal Solicitate Permission-->
<div class="modal fade" id="agendarPermisoEX" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label><strong>Agendar Permisos de entrada a la Empresa</strong></label>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          <div class="row clearfix">
            <div class="col-6">
              <div class="form-group demo-masked-input">
                <label for="fecha_inicio_extemporaneaEX"><strong>Inicio de permiso:</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                  </div>
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" min="1960-01-01"
                    data-date-autoclose="true" class="form-control" name="inicio_dia_permisoEX"
                    id="inicio_dia_permisoEX" value="" placeholder="Inicio de Permiso" />
                  <input type="text" class="form-control time12" placeholder="Ex: 11:59 pm" id="inicio_hora_permisoEX"
                    name="inicio_hora_permisoEX">

                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group demo-masked-input">
                <label for="fin_dia_permisoEX"><strong>Fin de permiso:</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                  </div>
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose="true"
                    class="form-control" name="fin_dia_permisoEX" id="fin_dia_permisoEX" value=""
                    placeholder="Fin de Permiso" />
                  <input type="text" class="form-control time12" placeholder="Ex: 11:59 pm" id="fin_hora_permisoEX"
                    name="fin_hora_permisoEX">
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="motivo_permiso" class="form-label">Motivo del permiso:</label>
            <textarea class="form-control" name="motivo_permiso" id="motivo_permiso" rows="3" required></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" name="agendar_permisoEX" class="btn btn-success">
            Agendar
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
        </div>
    </div>
    </form>
  </div>
</div>
</div>


{% endblock %}