{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Permisos</h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>

      </div>
    </nav>
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fa fa-times"></i></span>
        <span class="alert-inner--text"><strong>Error</strong> {{ message }}!</span>
        <button type="button" class="undo" aria-label="Undo">Cerrar</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% if category == 'correcto' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
        <span class="alert-inner--text"><strong>Correcto!</strong> {{ message }}!</span>
        <button type="button" class="undo" aria-label="Undo">Cerrar</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <!--Human Resources Permissions Table-->

            <div class="body">
              <h1>Permisos Activos</h1>
              <hr />
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover  dataTable">
                  <thead>
                    <tr>
                      <th>Usuario</th>
                      <th>Inicio de Permiso</th>
                      <th>Fin de permiso</th>
                      <th>Inicio de Recuperación</th>
                      <th>Fin de Recuperación</th>
                      <th>Observaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for solicitudes_permisos in solicitudes_permisos %} 
                    <tr>
                      <td>
                        {{solicitudes_permisos[17]}}
                        {{solicitudes_permisos[18]}}
                      </td>
                      <td>{{solicitudes_permisos[13]}}</td>
                      <td>{{solicitudes_permisos[14]}}</td>
                      <td>{{solicitudes_permisos[15]}}</td>
                      <td>{{solicitudes_permisos[16]}}</td>
                      <td>{{solicitudes_permisos[9]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="body">
              <h1>Permisos activos de acceso a la empresa</h1>
              <hr />
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover dataTable">
                  <thead>
                    <tr>
                      <th>Usuario</th>
                      <th>Inicio de Permiso</th>
                      <th>Fin de permiso</th>
                      <th>Motivo</th>
                      <th>Observaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for solicitud_permiso_extra in solicitud_permiso_extra %}
                    <tr>
                      <td>
                        {{solicitud_permiso_extra[10]}}
                        {{solicitud_permiso_extra[11]}}
                      </td>
                      <td>{{solicitud_permiso_extra[13]}}</td>
                      <td>{{solicitud_permiso_extra[14]}}</td>
                      <td>{{solicitud_permiso_extra[8]}}</td>
                      <td>{{solicitud_permiso_extra[9]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}