{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <!--div class="header">
                            <h2>Stater Page</h2>
                        </div>
                        <div class="body">
                            <h4>Stater Page</h4>
                        </div-->
            <!-- Edit Curso -->
            <form action="" method="POST" enctype="multipart/form-data">
              <div>
                <div class="modal-content">
                  <div class="modal-body">
                    <h1>Editar Noticia</h1>
                    <div class="row clearfix">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="titulo_noticia"
                            ><strong>Titulo de la Noticia:</strong></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="titulo_noticia"
                            id="titulo_noticia"
                            value="{{noticia[1]}}"
                            placeholder="Titulo de la Noticia"
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="foto"
                            ><strong>Imagen de la Noticia:</strong></label
                          >
                          <div>
                            <input
                              type="file"
                              name="imagen_noticia"
                              id="imagen_noticia"
                              class="custom-input-file"
                            />
                            <label for="imagen_noticia">
                              <i class="fa fa-upload"></i>
                              <span>Selecciona una imagen…</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label><strong>Descripcion</strong> </label>
                          <textarea
                            class="form-control"
                            rows="3"
                            cols="30"
                            name="descripcion_noticia"
                            id="descripcion_noticia"
                          >
{{noticia[3]}}</textarea
                          >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="submit"
                          name="crear_noticia"
                          class="btn btn-primary"
                        >
                          Editar
                        </button>
                        <a
                          href="javascript:history.go(-1)"
                          class="btn btn-secondary"
                          ><i class="fa fa-arrow-left"></i>
                          <span>Volver</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
