{% extends 'templates/light/base.html' %} {% block content %}
<div class="main_content" id="main-content">
  <div class="page">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card planned_task">
            <div class="modal-content">
              <div class="modal-content">
                <form action="" method="POST">
                  <div class="modal-body">
                    <h1>Lista de Noticias</h1>
                    <div class="row clearfix">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="titulo_noticia"
                            ><strong>Noticias creadas</strong></label
                          >
                          <select
                            class="selectpicker"
                            name="noticia_id"
                            title="Selecciona una noticia"
                            data-live-search="true"
                            data-live-search-placeholder="Buscar ..."
                          >
                            <option value="" selected disabled>
                              Selecciona una noticia
                            </option>
                            {% for noticias in noticias %}
                            <option value="{{ noticias[0] }}">
                              {{ noticias[1] }}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <form action="" method="POST">
                          <input
                            type="hidden"
                            name="noticia_id"
                            value="{{ noticias[0] }}"
                          />

                          <button
                            type="submit"
                            name="borrar_noticia"
                            value="{{ noticias[0] }}"
                            class="btn btn-danger"
                          >
                            Eliminar <i class="fa fa-trash"></i>
                          </button>

                          <a
                            href="javascript:history.go(-1)"
                            class="btn btn-secondary"
                            ><i class="fa fa-arrow-left"></i>
                            <span>Volver</span></a
                          >
                        </form>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
