<!--{% block usuario %}
    {% endblock %}-->
{% extends 'templates/light/base.html' %} {% block content %}

<div class="main_content" id="main-content">
  <div class="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0);">
        <h4>Noticias</h4>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card-title planned_task">
            <div class="header">
              <h2></h2>
            </div>

            <div class="body">
              <div class="tab-content" id="myTabContent">
                <div>
                  <h1 class="text-center">Noticias</h1>
                  <hr />
                  <div class="container-fluid">
                    <div class="row">
                      {% for datosNoticias in datosNoticias %}
                      <div class="col-md-4">
                        <div class="card" style="width: 400; height: 600">
                          <img
                            class="card-img-top img-fluid"
                            src="{{ url_for('static', filename='images/Noticias/' + datosNoticias[2]) }}"
                            width="160"
                            height="170"
                            alt="Imagen de Noticia"
                            class="img-fluid"
                          />
                          <div class="card-body">
                            <h4 class="card-title">{{datosNoticias[1]}}</h4>
                            <h6
                              class="heading heading-sm strong-400 text-muted mb-4"
                            >
                              {{datosNoticias[9]}}
                            </h6>
                            <p class="card-text">
                              {{datosNoticias[3] | safe | truncate(400)}}
                            </p>
                            <a
                              href="/noticia/{{datosNoticias[0]}}"
                              class="btn btn-sm btn-primary"
                              >Ver mas...</a
                            >
                          </div>
                          <div class="card-footer">
                            <div class="row align-items-center">
                              <div class="col">
                                {% if datosNoticias[8] is none %}
                                <img
                                  src="{{ url_for('static', filename='images/users/userMale.PNG') }}"
                                  class="avatar avatar-lg mr-3"
                                />
                                {% else %}
                                <img
                                  src="{{ url_for('static', filename='images/users/' + datosNoticias[8]) }}"
                                  class="avatar avatar-lg mr-3"
                                />
                                {% endif %}
                              </div>
                              <div class="col text-right text-xs-right">
                                <ul class="list-inline mb-0">
                                  <li class="list-inline-item pr-2">
                                    <span class="avatar-content"
                                      >{{datosNoticias[6]}}
                                      {{datosNoticias[7]}}</span
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
